[2018-09-18 09:48] hadesy commented on #538
It seems that
[code]
Why not set `$this->deliveryDelay` when sending messages in the first time?

[2018-09-18 10:04] makasim commented on #538
The message first goes to a router processor. Then, the router process re-sends it to final destinations.

See the difference in set properties.

[2018-09-18 10:10] tseho opened #539 "[bundle] enqueue-bundle repository is not up-to-date"
When installing enqueue/enqueue-bundle with composer this morning, I found out the documentation for 0.8.37 does not match the code in 0.8.37.

I can see that code in the directory [enqueue-dev/pkg/enqueue-bundle](https://github.com/php-enqueue/enqueue-dev/tree/master/pkg/enqueue-bundle) is not same as in the package [php-enqueue/enqueue-bundle](https://github.com/php-enqueue/enqueue-bundle).

Pro

[2018-09-18 10:32] makasim commented on #539
Make sure you are on 0.8 branch while browsing code and docs in `php-enqueue/enqueue-dev`.

[2018-09-18 10:39] makasim commented on #537
It should be slow in both cases

[2018-09-18 10:43] makasim commented on #537
It would be great if you could profile it. I've not run into such issue. Dont have an idea why it happens.

[2018-09-18 10:43] tseho commented on #539
Thanks !

[2018-09-18 10:43] #539 closed

[2018-09-18 10:44] makasim commented on #539
master is 0.9

[2018-09-18 10:46] tseho commented on #539
Yeah, I totally missed that, seeing that all the releases were 8.x. I will be more careful :)

[2018-09-18 11:29] hadesy commented on #538
Can i understand like that?
![i](https://user-images.githubusercontent.com/6346047/45684446-f541cd00-bb78-11e8-9254-05114d8ea96a.jpg)

[2018-09-18 13:04] ramunasd opened #540 "[consumption] FatalError after AmqpContext->close()"
PsrContext->close() isn't documented at all. Looks like it should close connection and reset bindings. This method is only for testing purposes?

[code]

[2018-09-19 11:49] intergalactisch commented on #537
I've tested it a bit more, and it looks like it's happening because of the high amount of records. When I decrease the amount to 3 million it all seems to work.

[2018-09-19 11:49] #537 closed

[2018-09-19 11:52] ramunasd commented on #540
In case of AMQP it should unset channel because it is unusable anymore. It would be recreated on call to getLibChannel().
But then comes next question. Once we close and recreate channel, it is subscribed to existing queues?

[2018-09-19 11:52] intergalactisch opened #542 "[Elastica] Expected to be an alias but it is an index"
Hi,

I'm using the enqueue bundle to populate elastica in batches with the following commands:
- php bin/console enqueue:transport:consume enqueue_elastica.populate_processor --no-debug --env=prod (numprocs 4 in supervisor)
- php bin/console fos:elastica:populate --pager-persister=queue --no-debug --env=prod --ignore-errors -q --max-per-page=5000
After a while I keep bumping into the following err

[2018-09-19 12:01] makasim commented on #540
It should not subscribe to anything as long as you call basic_consume again.

[2018-09-19 12:02] makasim commented on #542
A stack trace would be great. Add `-vvv` and catch trace then post it here.

[2018-09-19 12:27] intergalactisch commented on #542
Okido, here is the stack trace; I keep bumping into it even after I've deleted all the indices.
Also, I've removed my sitepath + name with SITENAME.COM

`Exception trace:
 FOS\ElasticaBundle\Index\AliasProcessor->getAliasedIndex() at /SITENAME.COM/public_html/vendor/friendsofsymfony/elastica-bundle/src/Index/AliasProcessor.php:70
 FOS\ElasticaBundle\Index\AliasProcessor->switchIndexAlias() at /SIT

[2018-09-19 12:38] makasim commented on #542
Not sure it has any relation to EnqueueElastica or Enqueue. Do you have that issue only when you use queue pager persister or always?

[2018-09-19 13:59] intergalactisch commented on #542
Hmmm, my bad; it happens because of a mariaDB crash, and the moment supervisor + rabbitmq start up again to do their job again I get the error because of an unfinished and unclean process. Time for me to fix my server configs...

[2018-09-19 13:59] #542 closed

[2018-09-21 08:12] ramunasd commented on #540
Ok, clear. Looks like there should be ability to reopen connection and channel, but that's another story.

[2018-09-21 08:12] #540 closed

[2018-09-24 21:38] dogawaf commented on #474
Hello

Thanks for the hint.
It sounds a bit weird for me to alter the original message before the clone being done when rejecting it.
But it works.

For the record, here is the working code:

[code]

[2018-09-27 12:31] #523 closed

[2018-09-27 12:33] #538 closed

[2018-09-27 12:33] makasim commented on #538
Fixed in 0.9

[2018-09-27 12:34] #475 closed

[2018-09-28 08:09] #28 closed

[2018-10-01 08:57] amenophis commented on #523
Thanks @makasim. When do you plan the next release ?

[2018-10-01 12:57] dkarlovi opened #546 "Support rabbitmq-cli-consumer"
https://github.com/corvus-ch/rabbitmq-cli-consumer

[2018-10-01 13:00] makasim commented on #546
@dkarlovi how do you see it?

[2018-10-01 13:14] dkarlovi commented on #546
The linked tool takes place of the "idle wait" actor and triggers an executable for each message.

This allows PHP to work in an environment it usually works in (request-response-death) instead of a long-running process like the current consumer, which may lead to problems and memory leaks.

If we assume this is in place, the app would be triggered for each message.

We could even do an optimizati

[2018-10-01 13:18] makasim commented on #546
I am aware of the concept. I don't see how it could be combined with Enqueue or Queue Interop. Ideas?

[2018-10-01 22:06] Wirone commented on #25
We're probably facing this issue right now. We're running several replicas of Docker image running consumer within Swarm stack. Each consumer is run with time limit, so it automatically stops working after limit passes, then Swarm restarts it again, and again. This is because we don't want to control memory usage, it's simpler to restart consumer from time to time.

But since introducing Swarm sta

[2018-10-03 07:09] versh23 opened #549 "Stomp heartbeat"
Hi

Sometimes activeMQ close connection with my consumer. i would to check a connection status but how?
Connection instance **private** https://github.com/php-enqueue/stomp/blob/master/StompContext.php#L189 and there are now heartbeat config
https://github.com/php-enqueue/stomp/blob/master/StompConnectionFactory.php#L122

so, is it possible to send isAlive package or check connection ?

[2018-10-03 09:31] makasim commented on #549
That could be made public.

[2018-10-03 09:49] versh23 commented on #549
@makasim so, what can i do ?
stomp repo is [READ-ONLY], i cant make PR ?

[2018-10-03 10:55] makasim commented on #549
You are supposed to do a PR on this repository, It will go to read only repo once is merged

[2018-10-03 10:55] makasim commented on #549
https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/stomp/StompContext.php

[2018-10-03 12:26] intergalactisch opened #550 "[Symfony] Processor autoconfigured twice"
Hi,
I have a processor setup that is listening to importCountTopic via getSubscribedTopics. With this I am using the default SF4 services.yaml setup and am using the autoconfiguration:
[code]
It looks like the Processor is configured twice, because when I consume a queue the message is being processed twice. When I check "php bin/console debug:container ImportCountProcessor" I get the following re

[2018-10-03 15:13] makasim opened #551 "[redis] Do not force phpredis"
https://github.com/php-enqueue/redis/commit/b8c4d3d44bbe926e6b371cda7363028eb4e094b8#r30747227

1. remove hard dependency t phpredis from composer
2. make sure that the exception is thrown if neither phpredis nor predis is available.

[2018-10-03 16:42] intergalactisch commented on #550
update: in my local environment I've had the same issue, but currently I can't reproduce the duplication of the messages. Also, I am getting the same result when I use "php bin/console debug:container ImportCountProcessor", so that isn't the thing that is going wrong. However, the bug is still here on production. I have no idea how to start debugging this, since I am using an almost clean services

[2018-10-03 20:17] #549 closed

[2018-10-04 15:46] ilmeskio opened #553 "[redis] support for delay"
Hi,
I would like to use unqueue to replace php-resque, but for my use case the current redis driver is missing the critical feature of delayed messages.

Is it already planned in a roadmap? In anycase I am willing to contribue.

[2018-10-04 16:11] makasim commented on #553
As far as I know redis server does not support it? Should be implemented on a client-side right?

[2018-10-04 17:05] ilmeskio commented on #553
Exactly. There should be a dedicated consumer that re-route messages at the requested time.

Check:
- https://github.com/chrisboulton/php-resque-scheduler/blob/master/lib/ResqueScheduler/Worker.php

Also Laravel Queue provide a similar feature but I haven't checked the implementation yet.

[2018-10-04 17:13] #312 closed

[2018-10-04 17:14] #323 closed

[2018-10-04 17:17] makasim commented on #553
IMO redis transport should implement only features that broker supports. A workaround could be done on a higher level of abstraction (something that uses Redis transport internally) but not a transport itself.

[2018-10-04 17:54] ilmeskio commented on #553
Dbal driver anyway support delay and priority by use of query. I think is possible using only redis components to create an accessory data-structure for each queue in order to achieve the same functionalities.

For example in the case of delay before do `brpop` on the queue it's possible to check on a sorted-set (ie. `<queue-name>:delayed:timestamp`) if there is a delayed message and then process

[2018-10-09 22:23] cabralc opened #557 "Consuming with Simple Client and Kafka"
I'm having some trouble consuming messages with the SimpleClient and the rdkafka transport.

Here is my config file:

[code]

And here is the code I'm trying:

       /** @var \Enqueue\SimpleClient\SimpleClient $client */
        $client = new SimpleClient(config('enqueue.client'));
        $client->setupBroker();

        $message = new Message();
        $message->setScope(Message::SCOPE_MESSAGE

[2018-10-10 07:37] makasim commented on #553
@ilmeskio I would give it a shot. Could you please on a POC? Ideally, it should be something pluggable, like amqp [delay strategy](https://github.com/php-enqueue/amqp-tools/blob/master/DelayStrategy.php).

[2018-10-10 07:39] makasim commented on #550
Do you have a service definition for ImportCountProcessor class? Or is it completly autoconfigured by Symfony?

[2018-10-10 07:53] intergalactisch commented on #550
It is completely autoconfigured by Symfony

[2018-10-10 08:53] ilmeskio commented on #553
ok I'll update when I've something.

[2018-10-10 19:35] cabralc commented on #557
Thank you that works.

I have another question. When producing the message it seems to choose the partition at random. Is there a way to specify the partition you are producing and consuming from?

Also when creating the topic it creates the topic with a certain number of partitions. I haven't figured out if this is a configuration within kafka or from the code that is creating the topic.

Again a

[2018-10-11 09:17] makasim commented on #523
I was almost ready to release a stable version (3-5 days left). Now I am involved in a project development. Not sure when it happens.

[2018-10-11 10:06] makasim commented on #557
Partition could be set on a message basis

https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/rdkafka/RdKafkaProducer.php#L39

On a consumer side it could be set too

https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/rdkafka/RdKafkaConsumer.php#L94
https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/rdkafka/RdKafkaConsumer.php#L69

[2018-10-12 09:21] sylfabre commented on #284
@makasim I'm considering a PR to support Azure Service Bus or Azure Queue Storage. Do you know if someone is already working on it?

[2018-10-12 09:56] makasim commented on #284
@sylfabre this great! Do not hesitate to reach me out, I'll be glad to support you.

As for integration, Nobody is working on it as far as I know

[2018-10-15 19:54] makasim commented on #546
Here's a POC: https://github.com/makasim/rabbitmq-cli-consumer-client

[2018-10-16 11:06] #546 closed

[2018-10-18 07:30] VincentClair commented on #421
Hi @stephanvierkant,
Do you have news on a migration guide ? Do you succeed in migration ?

[2018-10-18 10:31] makasim commented on #25
@pyrorules as far as I know there has not been a stable release of amqp ext with seg fault fix. So there is no way we can require it for now.

[2018-10-18 15:24] #557 closed

[2018-10-19 03:16] nikolay-nikitin commented on #62
And which solution did you choose?

[2018-10-19 15:21] Steveb-p opened #570 "[RdKafka][Symfony] Kafka always consumes messages from the beginning"
I have started to use Symfony Messenger component for inter-application communications and stumbled upon a minor issue with Kafka queue implementation. I'm not sure that core issue is part of either Symfony integration or Enqueue, but I've looked over source code and it all points to wrong offset selection in `enqueue/rdkafka`, so I wanted to ask for advice and / or contribute.

For my example, I'

[2018-10-19 16:55] makasim commented on #570
@Steveb-p as far as I know this was fixed in https://github.com/php-enqueue/enqueue-dev/pull/508

I suggest back-porting the code to 0.8 branch (The fix went to 0.9 version which has not been released yet and is not supported by symfony messenger.

[2018-10-19 16:57] makasim commented on #470
I think this should fix the issue https://github.com/php-enqueue/enqueue-dev/pull/508/files and [here](https://github.com/php-enqueue/enqueue-dev/issues/570#issuecomment-431428855) I proposed to back port the fix to 0.8 branch

[2018-10-19 16:57] #470 closed

[2018-10-22 06:40] Steveb-p commented on #570
@makasim Indeed it is, I just noticed it's on master. Sorry to bother :)

I've created a branch with code "backported" (more like copied :) ) to 0.8 branch for your convenience, if you're still going to release 0.8.x versions for a while (since Symfony Messenger component can't work with 0.9 yet as you've mentioned).

[2018-10-22 06:40] #570 closed

[2018-10-22 08:21] #553 closed

[2018-10-22 08:32] Gnucki commented on #470
Thanks!

[2018-10-22 12:46] makasim commented on #570
@Steveb-p Feel free to open PR, the release process is completely automated. I could do it at any moment.

[2018-10-22 15:51] makasim commented on #570
@Steveb-p https://github.com/php-enqueue/rdkafka/releases/tag/0.8.40

[2018-10-22 18:52] #551 closed

[2018-10-22 18:53] #511 closed

[2018-10-23 11:51] aminvoly opened #579 "Handel failed jobs"
Hi, I'm not sure about my question, maybe it's ridiculous
I just wanted to know, when you are using a job, there is a record for each job in queue.enqueue_job ,is there any way to rerun the jobs with failed status?! or these records are just for extra information?
Thanks in advanced.

[2018-10-23 12:41] Steveb-p opened #580 "[RdKafka] Allow `acknowledge` to not call commit"
According to a discusion on https://gitter.im/arnaud-lb/php-rdkafka calling `KafkaConsumer::commit` or (`commitAsync`) is not really necessary, since offset is moved on read from topic (unless I'm mistaken, and also if `enable.auto.commit` topic configuration is left set to `true` (default)).

![image](https://user-images.githubusercontent.com/3183926/47361150-899bd400-d6d1-11e8-9924-e87111794860.

[2018-10-23 13:28] makasim commented on #580
I dont know. I am not much into kafka world. We could try if you think it makes sense.

[2018-10-23 13:34] Steveb-p commented on #580
@makasim I'm going to run tests to check if what I understand of Kafka internals is correct anyway. Just looking for your opinion and / or disapproval before I start :) I'll gladly make a PR once I'm sure about it, since I'm going to use that functionality myself.

[2018-10-23 13:45] makasim commented on #580
@Steveb-p 👍

[2018-10-23 15:36] makasim commented on #579
Are you talking about `enqueue/job-queue` extension?

[2018-10-23 15:38] makasim commented on #579
The event should be dispatched here https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/job-queue/CalculateRootJobStatusProcessor.php#L66 and you can subscribe on it to handle failed case.

[2018-10-25 08:54] Kifah opened #583 "what is the default timeout for createProducer()->send?"
Hi,
I want to  ` createProducer()->send ` , and throw an exception, if that call runs for longer than 200 ms. (for example, in case the SQS-Endpoint is not reachable)...can that be done in the settings? I could not find a parameter for that.

[2018-10-26 17:17] makasim commented on #583
I dont know how to do it, I guess it should be possible by setting a socket timeout or something similar.
If you find a solution feel free to submit a PR.

[2018-10-26 17:17] #583 closed

[2018-10-26 17:18] #579 closed

[2018-10-29 18:04] makasim opened #589 "A command setup:broker for transport."

[2018-10-29 18:05] makasim opened #590 "[client] Add ability to ignore delay, priority, ttl if not supported."

[2018-10-29 18:06] makasim opened #591 "[bundle][client] Add ability to configure routes in bundle config"

[2018-10-29 18:07] makasim opened #592 "[bundle][client] Add ability to configure multiple clients."
Bundle already supports it. The configuration should be extended.

[2018-10-29 18:09] makasim opened #593 "[bundle][client] Add support of external routes"
So the message could processed outside of an app, or Enqueue Client scope

[2018-10-29 18:10] makasim opened #594 "profiler and data collector should support multiple clients."

[2018-10-30 08:35] ghostika opened #596 "Make SQSContext configurable"
I have access to an SQS queue on AWS, but I'm not the owner of it.
Given this setup, I can't access this queue with the use of enqueue/sqs library.

The problem, in SqsContext.php, at getQueryUrl I would need to pass an additional parameter for the `$this->getClient()->getQueueUrl()`, namely `QueueOwnerAWSAccountId`.

[2018-10-30 08:46] makasim commented on #596
@ghostika could you work on a pull request that address the issue?

[2018-10-30 10:19] makasim opened #598 "Make new RouterProcessor backward compatible."

[2018-10-30 10:20] makasim opened #599 "Update UPGRADE.md with BC breaks."

[2018-10-30 10:36] makasim opened #600 "Update symfony recipes"

[2018-10-30 12:35] makasim opened #601 "[bundle] add doctrine://[connection_name] scheme support"

[2018-10-30 12:52] bendavies commented on #599
have you tried https://github.com/Roave/BackwardCompatibilityCheck?

[2018-10-30 13:07] denisbondar opened #602 "[BC break] Headings and properties are the opposite"
Hi!

I have a code:
[code]

In RabbitMQ console I see (headers and properties opposite):
[code]

When I consume this message and dump it, I see (headers and properties opposite again):
[code]

[2018-11-01 08:03] makasim opened #605 "[dbal] consumption improvements."
The consumption logic could be made even simpler and at the same time more performant (still to be proved) cuz there would be fewer round trips, fewer locks.

* The [first select](https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/dbal/DbalConsumerHelperTrait.php#L26-L34) returns an array of 100 message ids. No transaction, no pessimistic lock.
* Then we walk through the array and try to c

[2018-11-01 20:35] dextervip opened #608 "Async commands queue setup error"
Hey,
I am trying to configure enqueue/async-command:0.9.x-dev using sf4.1. However when I am going to setup a broker I get this error

[code]

In fact it creates run_command queue instead of enqueue.app.run_command in my rabbitmq broker

[2018-11-02 14:24] Ferikl opened #610 "Enqueue/FS does not use latest Parse DSN class"
Current version of FS package doesnt use latest Parse DSN class

[2018-11-03 08:58] #608 closed

[2018-11-03 10:55] #610 closed

[2018-11-03 13:46] #605 closed

[2018-11-03 13:50] makasim opened #614 "Fix AMQP tests"

[2018-11-03 13:51] #614 closed

[2018-11-05 19:52] #598 closed

[2018-11-06 17:04] noniagriconomie opened #619 "Configuration with Amazon SQS and Symfony"
Hi

I plan to migrate from swarrot lib over rabbitmq to enqueue over amazon sqs.

I have found some documentation on the symfony bundle (I use version 3.4 lts) and the sqs library, and trying to configure it properly, but i face some problems:

[code]

[code]

And i got `The specified queue does not exist for this wsdl version`

What do i miss?

Many thanks for your time

[2018-11-06 17:32] makasim commented on #619
fyi https://github.com/php-enqueue/enqueue-dev/pull/175

[2018-11-07 08:07] noniagriconomie commented on #619
@makasim hi, yes for the majority of existing queues, some are not mandatory

i have check this PR already, but could not find the correct config

here i understand that the queue need to be in the client config, but i have a lot of queues, means i have to create lot of clients?

[2018-11-07 08:50] makasim commented on #619
You could use fifo queues with sqs transport (without using Enqueue Client higher abstraction).

Long story short. Client does not support SQS fifi queues. The client uses a router to dispatch messages to their final destinations and it breaks fifo cuz after router messages could go in different order. That's why a PR with such a feature was declined. It won't simply work.

[2018-11-07 09:05] makasim commented on #619
FYI: Enqueue Client works with SQS generic (not fifo) queues out of the box.

[2018-11-07 09:51] noniagriconomie commented on #619
ok so if i understood correctly, we have to create a standard queue on sqs and

what if i use the amazon sdq to publish message in a fifo queue, and use your bundle to consume (with a processor and the consume command) will it works properly ?

[2018-11-07 10:15] makasim commented on #619
You can use SQS fifo queues if you use a transport directly. Here's [an article that covers the setup process](https://blog.forma-pro.com/getting-started-with-rabbitmq-in-symfony-cb06e0b674f1). It was written for RabbitMQ but should work for SQS too with some fairly simple changes.

Enqueue client could be used with standard queues. Here's how you can configure it https://github.com/php-enqueue/en

[2018-11-07 10:24] Kolesar opened #620 "[AMQP] Auto-recovery connection"
I cannot find anywhere in the php-enqueue something like:
https://github.com/php-amqplib/php-amqplib/blob/master/demo/connection_recovery_consume.php

Does anybody use an auto-recovery connection with enqueue?

Any suggestion is welcome.

[2018-11-07 10:29] makasim commented on #620
The feature is not supported yet.

[2018-11-07 14:00] Gnucki opened #621 "[Symfony] Try to check private service existence from container"
I was trying to migrate a bundle to enqueue 0.9 (from 0.8) in order to use symfony 4.2 messaging component instead of 4.1.

I did not changed my enqueue config:
[code]

But got this strange exception:

Then, I tried to trace the exception. It is coming from [messenger-adapter](https://github.com/php-enqueue/messenger-adapter/blob/master/QueueInteropTransportFactory.php#L81):
[code]

The problem is

[2018-11-07 14:08] makasim commented on #621
context has to be added to `enqueue.locator` just like [here](https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/enqueue/Symfony/DependencyInjection/TransportFactory.php#L190) and the locator should be used in messenger adapter (instead of the whole container).

Services are public in the locator.

[2018-11-07 17:35] makasim opened #624 "[dsn] Add multi hosts parsing."
It should be possible to parse a DSN like this

[code]

[2018-11-07 17:36] makasim commented on #620
close in favor https://github.com/php-enqueue/enqueue-dev/issues/624

[2018-11-07 17:36] #620 closed

[2018-11-07 20:48] deguif opened #625 "SQS and fallback subscription consumer"
Setting receive-timeout when launching consume command does not work anymore for SQS consumer.

The `SqsContext::createSubscriptionConsumer()` method throws a `SubscriptionConsumerNotSupportedException` exception which leads to the `FallbackSubscriptionConsumer::consume()` method being called, and `receiveNoWait()` is called on the `SqsConsumer`

This make the AWS bill very high.

[2018-11-08 14:06] #625 closed

[2018-11-09 12:32] #619 closed

[2018-11-10 10:40] jandom opened #629 "Elastica populate with AWS SQS"
In a nutshell
- I was able to setup the queue on AWS and send messages to it
- there is no way I can get the broker to eat these messages

Constraints
- has to work with multiple environments (staging, production) which have separate SQS queues and ES indices
- the AWS IAM user identify it's using has minimal SQS permission

## Populating the queue

Setting up the AWS AIM and SQS
- create a 'acme-

[2018-11-10 10:47] makasim commented on #629
What enqueue version are you on?

[2018-11-10 10:53] jandom commented on #629
If my composer.json is to be trusted
[code]

[2018-11-10 11:04] makasim commented on #629
@jandom Could you post an output of `enqueue:queues` and `enqueue:topics` commands.

[2018-11-10 11:10] jandom commented on #629
Sure thing @makasim – and many thanks for getting back so fast

[code]

[code]

This seems completely decoupled from the customizations set in the PrePersistEvent listener.
For completion, here is the enqueue config
[code]

[2018-11-10 11:18] makasim commented on #629
You've enabled Enqueue Client that's why some extra queues appeared.

[code]

and consume messages with with transport consume command:

[code]

[2018-11-10 12:37] jandom commented on #629
Thanks for this tip, switched but got the following message

[code]
Maybe it's related to enqueue version?

@makasim i'll be happy to write-up/document the things that we're doing here

[2018-11-10 12:41] makasim commented on #629
hm, try to remove `client: ~`

[2018-11-10 12:41] makasim commented on #629
The idea is to disable the client

[2018-11-10 12:48] jandom commented on #629
Yup, yup, totally – removing the 'client' block from YAML entirely did the trick.

Now onto the next stage

[code]

[2018-11-10 12:51] makasim commented on #629
The command should be:

[code]

[2018-11-10 13:44] jandom commented on #629
Definitely progress here, in one tab I have this running

[code]
`acme_fos_elastica_populate ` is the name of my custom queue. And message ack and reject are coming in. Declaring partial victory

In the other tab however,
[code]

When I run without page-persister
[code]
Everything works dandy!

[2018-11-10 13:57] makasim commented on #629
Could you run the command with `-vvv` (so the trace is visible)

[code]

[2018-11-10 14:02] jandom commented on #629
Here we go

[code]

Mind you, updated the packages to most recent stable versions (I think)
[code]

[2018-11-12 09:51] jandom commented on #629
@makasim any insight from the trace?

[2018-11-12 09:56] makasim commented on #629
nope, sorry.

[2018-11-13 12:57] drgomesp opened #633 "[bundle] enqueue:consume vs messenger:consume-messages"
I wasn't able to find any explanation on the docs regarding the difference between the Symfony command for processing messages through the configured transport (`bin/console messenger:consume-messages`) and the enqueue consume command (`bin/console enqueue:consume`).

Could someone please clarify that?

[2018-11-13 12:59] makasim commented on #633
There are a lot. I will try to find time to explain it in more details.

[2018-11-13 16:24] makasim commented on #633
* consumption from multiple queues. Especially good for dev env. Run one command that servers all queues.
* good logging.
* good extensibility.

[2018-11-13 17:03] makasim commented on #633
configures broker

[2018-11-13 21:12] drgomesp commented on #633
Thanks @makasim

[2018-11-14 17:52] Gnucki opened #634 "[bundle] Tricky (unwanted?) configuration behaviour"
I am trying to migrate from Sf4.1 to 4.2 so from enqueue 0.8 to 0.9.
I found a tricky behaviour with configuration that I am going to try to explain.

I have a bundle handling messaging for my apps where I define some enqueue config in the bundle:
[code]

That I inject to enqueue extension with a prepend in my bundle extension:
[code]

But that config is never used! Why? Because of a conjunction o

[2018-11-15 08:12] makasim commented on #634
The magic will be removed in https://github.com/php-enqueue/enqueue-dev/pull/628

[2018-11-15 08:59] Gnucki commented on #634
Oh, nice! Waiting for it to be merged so!

[2018-11-15 09:30] #594 closed

[2018-11-15 09:31] #592 closed

[2018-11-15 09:31] makasim commented on #592
@drgomesp the feature has just landed to master

[2018-11-15 09:31] #634 closed

[2018-11-15 09:42] #318 closed

[2018-11-15 09:45] makasim commented on #69
PR is welcome

[2018-11-15 09:45] #69 closed

[2018-11-15 09:45] makasim commented on #327
PR is welcome

[2018-11-15 11:53] FrankGiesecke opened #635 "[redis] LogicException on set priority"
The method `\Enqueue\Redis\RedisProducer::setPriority` currently throws an logic exception for the reason, that this isn't implemented.
This exception happens on consuming data from the queue.

But it is possible to send messages having a priority.

Therefor, the whole queue went invalid. It's no longer possible to process messages if this happens.

If the Redis producer doesn't care about priorit

[2018-11-15 12:03] makasim commented on #635
What redis transport version are you referring too?

[2018-11-15 12:05] makasim commented on #635
It should throw [PriorityNotSupportedException](https://github.com/queue-interop/queue-interop/blob/master/src/Exception/PriorityNotSupportedException.php)

[2018-11-15 12:07] FrankGiesecke commented on #635
I'm referring the version form master. There is an `throw new \LogicException('Not implemented');` in the method.

Will the problem be solved if the method throws an `PriorityNotSupportedException`?

[2018-11-15 12:09] FrankGiesecke commented on #635
As I can see, there are more producers throwing the LogicException :(

[2018-11-15 12:22] makasim commented on #635
They should be fixed

[2018-11-15 12:32] FrankGiesecke commented on #635
I've opened a PR who will fix the exceptions #637

[2018-11-15 12:48] FrankGiesecke commented on #635
FYI: After fixing the exceptions, I'm getting the feared behavior:

The Consumer prints out
[code]

This should not be, shouldn't it?

[2018-11-15 12:49] makasim commented on #635
Could you add `-vvv`. I want to see a stacktrace.

[2018-11-15 12:57] FrankGiesecke commented on #635
[code]

[2018-11-15 13:02] makasim commented on #635
hm, could you post message headers, properties? Have you set priority somewhere yourself?

[2018-11-15 13:30] FrankGiesecke commented on #635
I have created a message object with a given priority.
[code]

This was sendet to the queue
[code]

After this, the consumer fetches the message and is gone :(

[2018-11-15 13:34] makasim commented on #635
That's expected behavior, do not set priority if your transport does not support it. In future, we will add ability to [instruct client to ignore these options if not supported](https://github.com/php-enqueue/enqueue-dev/issues/590)

[2018-11-15 13:34] #635 closed

[2018-11-15 13:39] makasim opened #638 "[dbal] consumer should still work if table is truncated"
for more infor: https://github.com/php-enqueue/enqueue-dev/pull/613#discussion_r230595264

[2018-11-15 13:41] drgomesp commented on #592
Amazing. Thanks @makasim and @ASKozienko

[2018-11-15 13:50] FrankGiesecke commented on #635
But this makes no sense. The `enqueue` package will give the ability to exchange the queue service by using different transport.

Adopting the code to use the different transports will break this benefit! 😞

If a transport doesn't support a feature, it should be ignored instead ending up in an error.

[2018-11-15 13:53] makasim commented on #635
I disagree with you it should let you know that the feature is not supported. The feature could be critical for an application, such as delaying a message for some period of time.

That would do what you need, right? Feel free to send a PR.

[2018-11-15 14:02] FrankGiesecke commented on #635
BTW: what about PR #637

[2018-11-15 14:03] makasim commented on #635
@FrankGiesecke merged, thank you!

[2018-11-15 14:07] makasim commented on #602
That's true but I must admit it would be a huge BC break.

[2018-11-15 14:08] makasim commented on #602
for ref https://github.com/rabbitmq/rabbitmq-jms-client/blob/master/src/main/java/com/rabbitmq/jms/client/RMQMessage.java, https://github.com/php-amqplib/php-amqplib/blob/master/PhpAmqpLib/Message/AMQPMessage.php#L27

[2018-11-16 10:02] makasim commented on #602
Apparently, everything is okay. The queue interop follows Java JMS semantic and [what it says about message headers and properties](https://docs.oracle.com/javaee/7/api/javax/jms/Message.html):

[code]

[2018-11-16 10:02] #602 closed

[2018-11-16 10:06] makasim commented on #550
Cannot reproduce the issue with 0.9 version. Feel free to reopen if there is any addition info

[2018-11-16 10:06] #550 closed

[2018-11-16 14:53] #629 closed

[2018-11-16 15:04] jandom commented on #629
Haha nothing like a 1-line fix via a int-casting xD Have a good weekend!

[2018-11-16 15:38] #638 closed

[2018-11-17 10:15] jandom commented on #629
@makasim i want to write up my setup for future users, where would be the best place to do this? Should be a useful piece of documentation! Blogpost, a gist, or a PR to the docs section for this repo?

[2018-11-17 10:56] makasim commented on #629
There is a [doc](https://github.com/FriendsOfSymfony/FOSElasticaBundle/blob/master/doc/cookbook/speed-up-populate-command.md) you could update it. I am fine with other options too.

[2018-11-18 17:57] jandom commented on #629
Prepared a PR request for the FosElasticaBundle guys

https://github.com/FriendsOfSymfony/FOSElasticaBundle/pull/1469

Thanks for all the help @makasim !

[2018-11-21 14:59] Steveb-p commented on #580
Sorry for it being so late, had a lot of different project issues to solve, had to postpone anything related to Kafka.

According to my tests, there is no significant difference betweem calling `commitAsync` or not, to the point of it being irrelevant. In my case for a small amount of events being passed from Kafka to rdkafka consumer the difference measured between 0.10609292984009 and 0.11040401

[2018-11-21 19:32] makasim opened #647 "[bundle] add enqueue:/foo support. It is an alias to another transport\client."

[2018-11-21 19:32] #599 closed

[2018-11-21 19:32] makasim commented on #599
I've tried, too much noize.

[2018-11-21 19:32] makasim commented on #599
@bendavies thanks for the link though.

[2018-11-21 22:13] sergeyklay commented on #284
Could I suggest this one  https://github.com/pdffiller/qless-php

[2018-11-22 07:19] #600 closed

[2018-11-22 07:21] makasim commented on #580
@Steveb-p I think we should make async commit a default behavior than.  https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/rdkafka/RdKafkaConsumer.php#L54

[2018-11-22 10:08] Steveb-p commented on #580
@makasim I'm looking into this further. As a matter of fact, it seems that calling `commit` doesn't really do anything apart from forcing Kafka to actually commit message offset on disc in case of it's "sync" variant.

Sample of subscription for base library does not include `commit` call:
https://arnaud-lb.github.io/php-rdkafka/phpdoc/rdkafka.examples-high-level-consumer.html

I've ran tests with

[2018-11-22 10:10] jeff1985 opened #648 "rediss connection stopped working in DSN"
Hi,

after some recent change the rediss (note the double S!)connection scheme stopped working. I'm getting the following error:
In RedisConnectionFactory.php line 120: The given DSN "rediss://....&persistent=1&vendor=predis" is not supported.  Must start with "redis:".

The cause is probably in this commit:
https://github.com/php-enqueue/enqueue/commit/7387c7f5fa73ff3326545340c17905c67586a73a

Ca

[2018-11-22 10:13] makasim commented on #580
Thank you for such a detailed overview. I think we can remove commit call than.

[2018-11-22 10:17] makasim commented on #648
@jeff1985 could you please try to add it here https://github.com/php-enqueue/enqueue/blob/7387c7f5fa73ff3326545340c17905c67586a73a/Resources.php#L146

and see if it works again

[2018-11-22 10:21] Steveb-p commented on #580
@makasim Wanted to ask this in a separate issue maybe, but this is as good a place as any: I've noticed that there was a recent patch removing `Throwable` exception class handling from `Enqueue\MessengerAdapter\QueueInteropTransport::receive`, since it hid possible errors when handling messages in Queue (I was wondering why my messages weren't handled in 0.8 :D).

However it can also potentially c

[2018-11-22 11:38] jeff1985 opened #650 "Wrong usage of ServerException"
During testing of #648 configuration, I got an different issue with the usage of ServerException.

I.e. in enqueue/redis/RedisProducer.php:70 you have the following code:

    catch (PRedisServerException $e) {
            throw new ServerException('lpush command has failed', null, $e);
        }

In case of an exception I'm getting:

    [Symfony\Component\Debug\Exception\FatalThrowableError]

[2018-11-22 12:30] jeff1985 opened #652 "Unable to specify password with special chars in DSN"
With the recent change and introduction of enqueue/dsn (https://github.com/php-enqueue/dsn/blob/master/Dsn.php)  I'm not able to specify a password with special chars in the DSN string. Before I was using it with the following syntax:

    rediss://hostname?timeout=10&pass=XXXX%2Fs%3D

I'm using a major cloud provider for the redis resource, the password is auto-generated and always contains speci

[2018-11-22 12:36] jeff1985 commented on #648
@jeff1985 I added the following lines to bundes.php in my symfony application (not sure if its the best place to do it, but for now it does the job):

    \Enqueue\Resources::addConnection(
    \Enqueue\Redis\RedisConnectionFactory::class,
    ['redis', 'rediss'],
    ['predis', 'phpredis', 'rediss'],
    'enqueue/redis'
    );

    \Enqueue\Client\Resources::addDriver(
    \Enqueue\Client\Driver\

[2018-11-22 12:43] makasim commented on #652
as a workaround you could try:

[code]

[2018-11-22 12:58] makasim commented on #580
@Steveb-p I am not using Symfony Messenger, IMO messenger transport layer is very very bad designed, for me it is broken in many places. and should not be used at all.

Sorry, cannot help you here much.

[2018-11-22 12:59] makasim commented on #580
@Steveb-p I'd like to propose you a kafka transport maintainer role. As I see you know far more than me about it. Would you be interested?

[2018-11-22 13:07] Steveb-p commented on #580
@makasim I'd say sure but I'm not familiar with underlying code of Symfony Messenger & Messenger Adapter for it.
As far as Symfony Messenger is concerned, it just suits my use-case and tools I'm already using / have to use, so I don't mind trying it out. Before looking into Symfony Messenger I didn't even know enqueue existed.

I've seen a couple of others steping up for the job. I'd prefer to sta

[2018-11-22 13:14] webmake opened #653 "Files still exported"
Hello,

recently I made a change https://github.com/php-enqueue/enqueue-dev/pull/588 but it seems with 0.8.41 version doesn't work. For example you can see https://github.com/sebastianbergmann/phpunit/blob/master/.gitattributes nothing differs, but in `vendor` directory there is no `/build`.

I suspect that scripts doing split doesn't respect somehow mentioned `.gitattributes` file, or maybe split

[2018-11-22 13:16] jeff1985 commented on #652
the workaround gives me the following error:

    The service "enqueue.client.consume_command" has a dependency on a non-existent parameter "enqueue.default_client".

Not sure, how to deal with it?

[2018-11-22 13:19] makasim commented on #580
I was talking about rdkafka transport not symfony messenger.

[2018-11-22 13:20] makasim commented on #652
[code]

[2018-11-22 13:22] makasim commented on #653
@webmake it went to master which is 0.9 version

[2018-11-22 13:22] makasim commented on #653
You could backport it to 0.8 branch

[2018-11-22 13:22] #653 closed

[2018-11-22 13:34] Steveb-p commented on #580
@makasim My bad. I'd do so gladly then, considering my company will probably use it a lot.

[2018-11-22 13:39] makasim commented on #580
@Steveb-p that's great

[2018-11-22 14:13] makasim commented on #653
@webmake 0.8.42 should be good. could you please?

[2018-11-23 07:50] makasim commented on #652
@jeff1985 does a major cloud provider suggest using `pass` or `password` query parameter? What does their DSN look like?

[2018-11-23 08:29] makasim opened #657 "[dbal] InvalidArgumentException: $bytes string should contain 16 characters."
https://travis-ci.org/php-enqueue/enqueue-dev/jobs/458362777

[code]

[2018-11-23 08:42] makasim commented on #652
@jeff1985 once #656  is merged you could define password

[code]

[2018-11-23 09:33] #652 closed

[2018-11-23 09:33] #650 closed

[2018-11-27 09:42] makasim commented on #487
This feature helps here https://github.com/php-enqueue/enqueue-dev/blob/master/docs/transport/amqp_lib.md#long-running-task-and-heartbeat-and-timeouts

[2018-11-27 09:44] makasim commented on #476
https://github.com/php-enqueue/enqueue-dev/blob/master/docs/monitoring.md

[2018-11-27 09:49] makasim commented on #461
There is a fix for it https://github.com/php-enqueue/enqueue-dev/blob/master/docs/transport/amqp_lib.md#long-running-task-and-heartbeat-and-timeouts

[2018-11-27 17:24] enumag opened #659 "v0.9.0 packages have wrong constraints"
The version constraints used in 0.9.0 for example [here](https://github.com/php-enqueue/enqueue-bundle/blob/0.9.0/composer.json?ts=4#L13-L14) don't allow installation of stable versions of those packages. `composer require enqueue/enqueue-bundle` simply fails unless `minimum-stability` is set to `dev` in which case all other enqueue packages are installed as `dev-master` instead of `0.9.0` even if

[2018-11-27 17:53] Steveb-p commented on #659
According to https://getcomposer.org/doc/articles/versions.md#stability-constraints `-dev` implies dev stability only. It isn't explicitly stated that it prevents installation of stable packages, but this does seem to occur:
[code]

Removal of `-dev` in composer files should do the trick?

[2018-11-27 17:57] enumag commented on #659
Yeah it would do the trick but `0.9.x` is equivalent to `^0.9` which is more common syntax so I'd suggest using that instead.

[2018-11-27 17:58] Steveb-p commented on #659
@makasim already pushed a PR with it. It should be out soon. (#660)

[2018-11-27 17:59] enumag commented on #659
Great, thank you guys!

[2018-11-27 17:59] #659 closed

[2018-11-27 18:53] makasim commented on #659
https://github.com/php-enqueue/enqueue-dev/blob/master/CHANGELOG.md#091-2018-11-27

[2018-11-28 09:08] Wirone commented on #25
How can it be part of `0.9` milestone if it's already released (0.9.1) and this issue is open?

[2018-11-28 09:17] makasim commented on #25
@Wirone  removed it from 0.9 milestone

[2018-11-30 13:11] AndriySvirin opened #663 "How to add route?"
Please point me how to add route? Version 0.9.1. Symfony 4.

[2018-11-30 13:37] makasim commented on #663
Right now you can do it by registering a processor and tagging it (enqueue.command_subscriber, enqueue.topic_subscriber or enqueue.processor). You could also write a compiler pass that adds a route to route collection service directly.

In future, it would be possible to add routes in bundle config https://github.com/php-enqueue/enqueue-dev/issues/593

[2018-11-30 13:37] #663 closed

[2018-11-30 13:51] #596 closed

[2018-11-30 16:03] #657 closed

[2018-12-01 15:15] chalasr opened #667 "Deprecation notices"
While upgrading to Symfony 4.2, I have the following unexpected deprecation notices:

--
The "Enqueue\Redis\RedisConnectionFactory" class implements "Interop\Queue\PsrConnectionFactory" that is deprecated will be removed in later versions. use one without Psr prefix.
--
The "Enqueue\Consumption\QueueConsumer::bindCallback()" method will require a new "string\|InteropQueue $queueName" argument in t

[2018-12-03 14:44] PaulRouss3l commented on #667
You can add the `0.7.x-dev` version of `queue-interop/queue-interop` to your composer.json to avoid this issue for now

[2018-12-03 15:23] makasim commented on #667
fyi there is a stable 0.7 version of queue-interop

[2018-12-04 09:45] enumag opened #668 "Enqueue 0.9 migration"
Hi. I'm trying to migrate my application to enqueue 0.9 but there are some BC breaks I don't know how to solve.

I was using a custom client processor based on [this](https://github.com/prooph/psb-enqueue-producer/blob/master/src/EnqueueMessageProcessor.php) and configured like this:

[code]

In Enqueue 0.9 the `enqueue.client.processor` tag is no longer used and I'm unsure what to use instead. I

[2018-12-04 09:49] makasim commented on #668
[enqueue.processor](https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/enqueue/Symfony/Client/DependencyInjection/BuildProcessorRoutesPass.php#L29) tag should be used.

[2018-12-04 09:53] enumag commented on #668
Thanks, that helped.

For anyone reading this, here is the fixed configuration:

[code]

[2018-12-04 09:53] #668 closed

[2018-12-04 13:57] makasim commented on #668
https://twitter.com/maksim_ka2/status/1040199957452664832

[2018-12-05 08:44] coudenysj opened #669 "Unrecognized option "default" under "enqueue.transport""
I'm getting an error when installing the bundle. It has probably something to do with #333.

[code]

It is using https://github.com/symfony/recipes-contrib/tree/master/enqueue/enqueue-bundle/0.4.

[2018-12-05 08:45] makasim commented on #669
recipes are out of date. There is a PR that adds new one https://github.com/symfony/recipes-contrib/pull/568

[2018-12-05 08:45] #669 closed

[2018-12-05 08:46] makasim commented on #669
The config format has changed a bit.  You could use a mentioned PR to adjust yours.

[2018-12-05 08:47] coudenysj commented on #669
Oh, ok.

Thanks for the quick response (and the great packages ;) ).

[2018-12-05 17:59] msheakoski opened #670 "[dbal] DBAL transport no longer works on PostgreSQL as of 0.9.0"
There is an issue of PostgreSQL not being able to work with UUID byte sequences produced by ramsey/uuid (see ramsey/uuid#179 for more details). The UUID type in PostgreSQL only accepts UUIDs in the hex string format (see https://www.postgresql.org/docs/current/datatype-uuid.html).

[2018-12-05 19:32] msheakoski commented on #670
I believe the ramsey/uuid-doctrine package is able to handle it: https://github.com/ramsey/uuid-doctrine#binary-database-columns

[2018-12-05 20:22] msheakoski commented on #670
I made a [hotfix which switches binary back to hex string](https://github.com/msheakoski/dbal/commit/16581a8813b49a4108c64ffe2e4166380a865612) in case anybody needs to get PostgreSQL working while this issue is being examined.

[2018-12-05 22:30] msheakoski commented on #670
It seems highly improbably to have a collision on a UUID v1 so it must have been something else causing them. Quoted from [Stack Overflow](https://stackoverflow.com/questions/32983104/how-to-prevent-mysql-uuid-v1-collision):

[2018-12-06 00:20] kenanduman1988 commented on #267
@imaximius please share report, it will very helful for other peoples, thank you

[2018-12-07 08:53] jak opened #675 "MessageReceived is final"
[MessageReceived is declared final](https://github.com/php-enqueue/enqueue-dev/blame/master/pkg/enqueue/Consumption/Context/MessageReceived.php#L12), whereas it's predecessor Context, was not.

Unfortunately this makes creating test doubles for MessageReceived difficult for unit tests for custom extensions.

Why was the class made final, and would you consider removing it?

Thanks 🙂

[2018-12-07 09:00] jak commented on #675
If not, would you consider a PR adding an interface for MessageReceived instead?

[2018-12-07 14:53] justinas-kazanavicius opened #677 "Symfony Bundle with 'amqp-ext' error: Socket error: could not connect to host."
When running `./bin/console enqueue:setup-broker -vvv` i get this output:

[code]

Probably worth noting that I have recently updated enqueue bundle from 0.8 to 0.9 and I was using fs transport before.

[2018-12-08 23:05] fpilee opened #679 "Is there any way to get a real PhpRedis instance?"
Or a eval example of how to call to a for example

$redis->incr('asdf', 1)

[2018-12-08 23:06] #679 closed

[2018-12-09 16:51] chalasr commented on #667
Well, I don't require `queue-interop/queue-interop` explicitly and the version I have is `0.7.1`. Here are my requirements:

[code]

And I get the deprecation notices mentioned above.
I still think this is not a dependency issue on my side but a bug in enqueue (broken BC layers).

[2018-12-09 16:56] chalasr commented on #667
The deprecated interfaces still exist in enqueue-interop v0.7.1, hence the notices. We probably need a new release.

[2018-12-10 02:53] gnumoksha opened #681 "Outdated documentation"
It seems the snippet for cli commands in SimpleClient is outdated since the constructor signature is wrong.

https://github.com/php-enqueue/enqueue-dev/blob/master/docs/client/quick_tour.md#cli-commands

[2018-12-10 03:01] gnumoksha opened #682 "SimpleClient can not be constructed with string"
Docblock for `Enqueue\SimpleClient\SimpleClient::__construct` says `$config` can be `null:`, but the following snippet throwns an error.

[code]

[code]

[2018-12-10 11:02] makasim commented on #677
Make sure you use right connection setting, host, port, user, password, and vhost.

[2018-12-10 13:34] makasim commented on #670
What should be done:

* Add PostgreSQS to testing setup
* Remove [OrderedTimeCodec](https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/dbal/DbalContext.php#L157)
* Use string instead of binary, let doctrine manage it.

[2018-12-10 13:35] makasim commented on #670
Is there someone willing to take it?

[2018-12-10 13:41] makasim commented on #667
Unfortunately, the deprecation notices are in 0.7 branch. There is no way to avoid it.

I am going to release queue interop 0.8 version which would be completely compatible with 0.7 releases except old interfaces are removed.

[2018-12-10 14:03] chalasr commented on #667
Fine for me, please close this issue once it is released.

[2018-12-10 23:29] gnumoksha commented on #681
This documentation is affected to https://github.com/php-enqueue/enqueue-dev/blob/master/docs/quick_tour.md#cli-commands

[2018-12-11 18:55] gnumoksha opened #684 "Interface mismatch on the documentation"
## Issue
There is some mismatch between php-enqueue documentation and the https://github.com/queue-interop/queue-interop interfaces since the documentation says to use `Interop\Queue\Processor` but the code for this interface is outdated and only extends PsrProcessor, which uses `PsrMessage` and `PsrContext`.

## Steps to reproduce
* `composer require enqueue/simple-client enqueue/amqp-ext`

Maybe

[2018-12-11 18:58] makasim commented on #684
Which Enqueue version do you use?

[2018-12-11 18:58] makasim commented on #684
queue-interop 0.7 is designed the way it supports old psr prefixed interfaces as well as new ones. Prefixed and not prefixed interface are the same things and should simply work.

[2018-12-13 01:46] PixelDog opened #685 "Error executing "GetQueueUrl" ...400 Bad Request..."
I can't seem to get the Que URL. I know the queue exists because I can connect to it with Python or using the example provided by Amazon here:

https://github.com/aws/aws-sdk-php/blob/master/docs/examples/sqs-examples-send-receive-messages.rst

any ideas?

[2018-12-13 01:48] PixelDog commented on #685
This is more from the error:

Fatal error: Uncaught exception 'Aws\Sqs\Exception\SqsException' with message 'Error executing "GetQueueUrl" on "https://sqs.us-east-1.amazonaws.com"; AWS HTTP error: Client error: `POST https://sqs.us-east-1.amazonaws.com` resulted in a `400 Bad Request` response:
<?xml version="1.0"?><ErrorResponse xmlns="http://queue.amazonaws.com/doc/2012-11-05/"><Error><Type>Send

[2018-12-13 06:14] makasim commented on #685
Make sure it tries to use the queue you expect

[2018-12-13 15:33] #677 closed

[2018-12-13 16:18] chalasr commented on #667
Thanks @makasim

[2018-12-13 16:20] makasim commented on #684
To get rid of the deprecated interface make sure you `composer req queue-interop/queue-interop:^0.8`

[2018-12-13 16:20] #684 closed

[2018-12-13 16:20] makasim commented on #667
To get rid of the deprecated interface make sure you `composer req queue-interop/queue-interop:^0.8`

[2018-12-13 16:20] #667 closed

[2018-12-13 16:51] PixelDog commented on #685
How do I do that? I've double checked the que name and it is correct. This is the code:

[code]

[2018-12-14 09:22] grachevko opened #690 "[Bug] AsyncListener recieve wrong eventQueue"
[AsyncListener](https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/async-event-dispatcher/AsyncListener.php#L36) recieve only [symfony_events](https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/async-event-dispatcher/Resources/config/services.yml#L2) in $eventQueue, without `prefix` and `app_name`

[2018-12-14 09:34] grachevko commented on #690
@makasim okey, but documentation has no information about this behaviour. Moreover async-event-dispatcher not working out of the box with default parameters from docs.

After hours of debugging, to start it working i had to write this
[code]

Because consumer listening `enqueue.app.symfony_events`, while `AsyncListener` push events to `symfony_events` queue.

[2018-12-14 10:03] makasim commented on #690
There is a bug, this command subscriber options should be adjusted here

https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/async-event-dispatcher/AsyncProcessor.php#L57

[2018-12-14 10:06] makasim commented on #690
like here https://gist.github.com/OskarStark/129e9c8cb493d0c91c3ce479357147dc#gistcomment-2785563

[2018-12-14 10:07] grachevko commented on #690
@makasim yes tried, it crash client, because it publish to `enqueue.app.enqueue.app.symfony_events`

[2018-12-14 13:36] #681 closed

[2018-12-14 13:36] makasim commented on #681
the doc is updated

[2018-12-14 13:36] makasim commented on #682
fixed

[2018-12-14 13:36] #682 closed

[2018-12-17 11:36] #690 closed

[2018-12-17 16:15] makasim commented on #685
make sure credentinals are right, and there is no a typo.

[2018-12-17 16:22] rbaarsma opened #695 "Improved error handling DbalProducer when no table enqueue"
In `DbalProducer` an Exception is thrown when the `enqueue` table does not yet exist, because `enqueue:setup-broker` has not been run yet. The resulting message is very unclear and has absolutely no information: `The transport fails to send the message due to some internal error.`

It's even better to simply NOT catch the exception here, as it will directly show that the `INSERT` failed on the `en

[2018-12-17 17:02] makasim commented on #695
The previous exception contains more details on the cause, [there is the third argument](https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/dbal/DbalProducer.php#L142).

setup-broker is a feature of a higher level library called Enqueue Client and dbal transport could be used directly or in a context where is another abstraction is used. So. mentioning it in the transport directly is not a

[2018-12-17 17:02] #695 closed

[2018-12-18 08:39] makasim commented on #670
@jverdeyen yeap, it should be the way you've done it.

[2018-12-18 08:40] jverdeyen commented on #670
Ok, I'll clean it up and create a PR for this change.

[2018-12-18 11:07] makasim commented on #439
supported since 0.9.3

[2018-12-18 11:07] #439 closed

[2018-12-18 16:07] rpanfili opened #696 "Unable to set vhost with amqp DSN"
Hello there, I got some troubles using a DSN string to configure my connection to rabbitMQ with the default `%2f` vhost name

## Expected Behavior
[code]

## Actual Behavior
[code]

## Steps to Reproduce the Problem
1. `composer require enqueue/enqueue enqueue/amqp-lib`
2. execute the given piece of code

## Version:
| sw | vers |
|---|---|
| enqueue/amqp-lib      |      0.9.2 |
| enqueue/amqp-too

[2018-12-18 16:36] makasim commented on #696
That's a bug, only the first `/` has to be removed. Could you work on a fix?

[2018-12-18 18:52] #696 closed

[2018-12-19 17:34] Jonathan-Lathiere opened #700 "[Symfony][RabbitMQ] Impossible to consume message from queue"
Hello,

When running `enqueue:consume <queue_name>`, I get this error `Got message without required parameter: "enqueue.processor"`

The message was inserted directly (produced) in RabbitMQ queue with the RabbitMQ management interface (without using enqueue:produce command).

Using following versions :
[code]

[2018-12-19 17:38] makasim commented on #700
Use `enqueue:transport:consume` instead. The command you are referring is a Enqueue Client one and it expects some additional message attributes to be set

[2018-12-19 17:39] makasim commented on #700
Dont forget to tag a processor with `enqueue.transport.processor`

more here https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/message_processor.md#register-a-transport-processor

[2018-12-19 17:48] Jonathan-Lathiere commented on #700
Thanks ! It Works :)

[2018-12-19 17:48] #700 closed

[2018-12-21 15:00] gabyquiles opened #706 "Can I have multiple SQS connections?"
Hi,
I want to receive messages from 2 SQS queues that are on 2 different sqs account.  Can I do that or does it support a single connection?
Thanks for your help

[2018-12-21 15:18] makasim commented on #706
yes, you can create multiple sqs connections.

[2018-12-21 15:21] gabyquiles commented on #706
Thanks for your fast response, could you direct me where to look?
should I add it as a transport, or the client key if the sqs configuration supports more than one config?

[2018-12-21 15:23] makasim commented on #706
Could you tell more about your setup? Do you use a framework?

[2018-12-21 15:43] gabyquiles commented on #706
I'm using symfony and already have enqueue, enqueue-bundle and sqs. If I setup a single connection it works perfectly, but I'm having problems adding the second set of credentials.

I saw that in the SqsConnectionFactory it is verifying if the configuration being passed is an array, and also found a previous issue with a pull request to pass an already configured sqs client. I tried to follow a si

[2018-12-21 15:57] makasim commented on #706
You have to upgrade enqueue to 0.9 version and you will be able to configure multiple transports:

[code]

[2018-12-24 22:03] kabudu opened #707 "Non-existent parameter "enqueue.default_client""
After upgrading to:

enqueue/enqueue-bundle: `0.9.3`
enqueue/redis: `0.9.2`

I haven't been able to get the configuration working for the enqueue bundle.

This was the old configuration I had for the `0.8.*` version:

[code]

Based on the documentation [here](https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/config_reference.md), I should be able to do the following:

[code]

Howe

[2018-12-27 14:26] Kolesar opened #708 "Question: Execution interrupted and normal behaviour"
I tried to use Consumption Time Extension in my code, but once when the interrupted trigger is set my PHP program except with error: `PRECONDITION_FAILED - unknown delivery tag 1`

And I don't know if this normal behavior or not.

[2018-12-27 14:35] makasim commented on #708
I don't have an answer.

[2018-12-31 14:54] Cicatrice opened #710 "Queue named `run_command` created by enqueue"
Hello,

Since last update, I noticed that a queue named `run_command` is created by enqueue. The issue is that I'm using SQS with several different instances of enqueue workers running in the same AWS account and I don't want my workers to conflict with each other.

I noticed this code has recently been added : https://github.com/php-enqueue/enqueue-dev/commit/f7bbf55fe9fa9c30a49780ffaf8cbbfd888ab

[2019-01-02 08:06] Umair-Qadeer commented on #707
Hi @kabudu ,

I had the same.
Try this. This works for me.
enqueue:
    default:
        transport: '%env(ENQUEUE_DSN)%'
        client: ~

[2019-01-03 06:56] makasim commented on #710
1. You could disable async commands:

[code]

2. or overwrite a processor service and change the tag attributes

3. contribute a way to configure using enqueue config.

[2019-01-03 06:56] #710 closed

[2019-01-03 06:58] makasim commented on #708
Try to ask in a chat https://gitter.im/php-enqueue/Lobby. Maybe someone there has the answer.

Feel free to reopen if it turns out to be doable bug or feature

[2019-01-03 06:58] #708 closed

[2019-01-03 06:58] #707 closed

[2019-01-03 16:51] philvv opened #713 "Routing jobs"
Hi,

Been playing around with enqueue with Redis for a couple of days and looking to add to a Slim 3 site I'm working on. Works great, well done.

I've been through the code and docs for days and have all working but I'm still wondering how others approach binding queue names to Processors in a more flexible way. It would appear 1 queue name = 1 class.

For example, say I have an 'email' queue tha

[2019-01-03 17:13] #713 closed

[2019-01-03 21:49] kabudu commented on #707
@Umair-Qadeer Thanks for the tip, I'll give it a try!

[2019-01-04 12:24] uro opened #714 "[monitoring] Add support of DataDog"
I would like to be able to display the enqueue statistics in [DataDog](https://datadoghq.com).

Should I add the support of datadog to your monitoring package as is the wamp and influxdb?
Or should I solve it externally?

If you like to see DataDog as a new monitoring provider, I'll be happy to implement it.

https://github.com/DataDog/php-datadogstatsd

@makasim

[2019-01-04 12:49] makasim commented on #714
That would be a great addition.

[2019-01-06 18:34] kabudu commented on #707
For completeness, I just want to confirm that the configuration format proposed by @Umair-Qadeer worked perfectly.

[2019-01-07 10:11] GCalmels commented on #690
Hello, I have the same issue but I have the last changed files... If I change `enqueue_events_queue` to `enqueue.app.symfony_events`, I have : `enqueue.app.enqueue.app.symfony_events`...
I don't know how to set the right queue name

[2019-01-07 16:20] marhub opened #718 "Different amqp handle props in different manner."

[2019-01-07 16:27] marhub opened #719 "Different amqp handle props in different manner."
Actual result:
in amqp bunny transport props are put into **headers.application_headers**
in ampq-lib transport, props are put into **headers**

Expected result:
I can see props next to headers, not injected into headers key.

If that's expected result - then someone can please explain me why?

[2019-01-07 16:37] makasim commented on #719
This behavior is expected. AMQP sends properties as a special header called "application_headers".

[2019-01-07 16:48] makasim commented on #718
dup https://github.com/php-enqueue/enqueue-dev/issues/719

[2019-01-07 16:48] #718 closed

[2019-01-07 19:21] makasim commented on #714
There is a PR, closing

[2019-01-07 19:21] #714 closed

[2019-01-08 10:34] Toflar commented on #635
Picking up on this issue because it's related: Do you think it would be even possible to introduce efficient priority handling in Redis using maybe `ZINCRBY` and co.?

[2019-01-08 10:43] makasim commented on #635
@Toflar I am not much into it. You could try.

[2019-01-11 15:37] leberknecht opened #721 "Is the symfony bundle usable without enqueue/messenger-adapter?"
Hi,

Im struggeling with plugging the symfony messenger to my google-pubsub bus via enqueue bundle. My config so far:
messenger.yml:
[code]
enqueue.yml:
[code]
Im getting

    No transport supports the given DSN "enqueue://gps"

I also tried with some other values. Debugging the TransportFactory showed that on `public function __construct(iterable $factories)` the factories only have one entry (fo

[2019-01-11 15:38] leberknecht commented on #721
Ah sorry, forgot to mention: messenger-adapter requires framework 4.2., thats why im asking here instead simply trying if it solves the problem. Upgrading the framework would be expensive in my case.

[2019-01-11 16:42] makasim commented on #721
@leberknecht you should use `enqueue://default` instead of `enqueue://gps`

[2019-01-11 16:43] makasim commented on #721
and yes the bundle is a standalone, feature-rich solution.

[2019-01-11 16:44] #721 closed

[2019-01-14 10:37] leberknecht commented on #721
Hm, didnt solved my problem :/ Same error. I see that the transport interface is pointing to

    messenger.transport.enqueue                                                                      Symfony\Component\Messenger\Transport\TransportInterface

i expected this to point to `GpsConnectionFactory`. I added this to the enqueue config
[code]
but the container debug still shows sf TransportInter

[2019-01-14 11:06] makasim commented on #721
What cli command do you call?

[2019-01-14 11:08] makasim commented on #721
The doc is for Enqueue bundle in general (not about gps specifically) but all examples could be applied to gps too

https://github.com/php-enqueue/enqueue-dev/tree/master/docs/bundle

The config looks good to me

[2019-01-15 16:17] dextervip opened #727 "[client] Add app name prefix to async events queue"
Hey,

It would be nice to add app name in client config to setup a queue name like myapp.symfony_events instead of symfony_events when using async events feature. So that I wont need to create new virtual host for each new app.

[2019-01-15 16:24] makasim commented on #727
Pull request is very welcome.

[2019-01-15 16:38] uro opened #728 "[SQS] Requeued message is not marked as a redelivered"
When we requeue a message it's not marked as redelivered by default. We can manually modify message object and mark it as redelivered in our processor before requeueing it.

Unfortunately this solution is not clear for people coming from other libraries. Personally I thought that it should mark messages as redelivered automatically, especially as we have `DelayRedeliveredMessageExtension` which ca

[2019-01-16 07:47] makasim commented on #728
@uro have you tried this fix https://github.com/php-enqueue/enqueue-dev/pull/722. It should fix your issue.
No tag yet

[2019-01-16 10:47] makasim commented on #727
you could redefine async events processor service (one in Symfony DI) and adjust tag parameters accoding to your needs. For example you could set `prefix_queue: true` so Enqueue Client prefixes it.

[2019-01-16 14:11] makasim commented on #728
feel free to reopen if the issue still exists.

[2019-01-16 14:11] #728 closed

[2019-01-17 13:43] you-ser opened #729 "[job-queue] CalculateRootJobStatusProcessor subscribed to command instead of topic"
Problem:
CalculateRootJobStatusProcessor stop wotking after commit [https://github.com/php-enqueue/job-queue/commit/1362b4d0732fab5d474b0bd6c1fc649f4044e579](https://github.com/php-enqueue/job-queue/commit/1362b4d0732fab5d474b0bd6c1fc649f4044e579)

Description:
Class `Enqueue\JobQueue\CalculateRootJobStatusProcessor` now implementing `CommandSubscriberInterface` and  subscribed to **command** :

[

[2019-01-17 13:46] makasim commented on #729
sendEvent should be replaced with sendCommand

[2019-01-17 21:32] dextervip commented on #727
Yeah, I am using enqueue bundle so I ended up overriding the parameter enqueue_events_queue in my app, looks okay!

[2019-01-18 13:39] gquiles-perez911 opened #730 "[client] GenericDriver changing queue name to lowercase"
Can I use uppercase queues with SQS? I have a SQS queue name "Test" and when I use `console enqueue:consume Test` I get the following error "The specified queue does not exist for this wsdl version". After investigation I noticed that GenericDriver has `strtolower` in createTransportQueueName. Is there a way to keep the uppercases for Queue names?

[2019-01-18 15:35] makasim commented on #730
strtolower should be removed but there is BC that we must preserve among all 0.9.x version. So, it should be possible to disable strtolower via driver option (enabled by default).

[2019-01-18 15:36] makasim commented on #730
For now, you can overwrite this method:

https://github.com/php-enqueue/enqueue-dev/blob/516acfa3e5c283ce8195e6696d3af3e0e6dc7dfc/pkg/enqueue/Client/Driver/GenericDriver.php#L245-L251

[2019-01-18 17:58] otzy opened #731 "[dbal] message is not added to the queue"
I use dbal package 0.9.6 with mysql.
producer->send() does not add a record to the queue.

$this->context->getDbalConnection()->insert() in DbalProducer.php:118 returns 0 but no any exception thrown.

But if I comment out the third parameter with types, the message is added successfully.
The problem seems to be in the parameter `'redelivered' => Type::BOOLEAN,`
When it's changed to `'redelivered'

[2019-01-18 18:03] otzy commented on #731
I think it's also worth to check that insert() returned 1 and throw an exception otherwise.

And btw. it will be nice if you inherited all your exceptions from RuntimeException. Most of them I think caused by the wrong usage of library and there is no need to catch them in the app

[2019-01-18 18:53] makasim commented on #731
that strange since there are some functional tests which pass.

Would you like to submit a PR?

[2019-01-21 09:32] j-schumann opened #734 "[dbal] How to pass redeliver config to the DbalContext"
Hello,
I'm using: enqueue/messenger-adapter:0.2.0 with enqueue/dbal:0.9.5 in Symfony 4.2 and I see no way to pass config to the context etc.:

Enqueue\Dbal\DbalConsumer defaults to a redelivery delay of 20 minutes. Enqueue\Dbal\DbalContext passes its config 'redelivery_delay' on when it creates a new consumer but how can I pass this option to the context? I tried appending it to the database DSN,

[2019-01-21 10:39] makasim commented on #734
Please open the issue on enqueue messenger adapter repository.

[2019-01-21 10:41] j-schumann commented on #734
Shouldn't these options be also configurable when only using enqueue-bundle without the messenger?

[2019-01-21 11:03] makasim commented on #734
The ability to configure it should be implemented, right now it is not possible at all in messenger and possible with queue consumer extension if you enqueue bundle

[2019-01-21 12:52] #729 closed

[2019-01-21 12:52] #601 closed

[2019-01-22 11:34] niels-nijens opened #737 "[Redis] Messages sent with incorrect delivery delay"
When sending a message with a delay (in seconds) to the Redis transport the following happens:
1. The `delay` is provided in seconds. For example 5 seconds.
2. The `deliveryDelay` is set on a new `RedisProducer` by the `RedisDriver` in _milliseconds_ based on the `delay` of the message.
3. The `deliveryDelay` (in milliseconds) is added to `time()` (in seconds). Resulting in a delay of 83 minutes a

[2019-01-22 11:40] makasim commented on #737
It would be great if you could provide a PR!

[2019-01-22 20:01] #737 closed

[2019-01-22 20:44] #731 closed

[2019-01-24 05:34] moofik opened #739 "Can't resolve name for queue using DelayStrategy"
It is not possible to exactly resolve the name that will be used for delayed messages queue, while using RabbitMqDlxDelayStrategy or any other DelayStrategy implementation.
It countructs queue name right inside `delayMessage` method like so:
`$name = sprintf('enqueue.%s%s.%s.x.delay', $dest->getTopicName(), $routingKey, $delay);`
And therefore we are not able to resolve this name, while we are wor

[2019-01-24 08:33] makasim commented on #739
Why do you need the delay queue to be customizable?
This is an internal thing of the strategy and you are not supposed to use it directly at all

[2019-01-28 17:45] aphex008 opened #741 "Recursion loop in symfony v4.2.2 using symfony bundle"
In symfony v4.2.2 when processor encounters exception, exception is outputed in console in recursion. Console is not responding to input. If monolog is used, app crashes because uses up all memory. It appears that exception handler (\Enqueue\Consumption\QueueConsumer::onProcessorException) injecs exception to it self as previous exception and creates recursion.

Tried it on my app. Also tried it o

[2019-01-29 05:38] aphex008 commented on #741
BTW works fine on symfony 3.4.

[2019-01-29 07:09] aphex008 commented on #741
Php version
PHP 7.2.13 (cli) (built: Dec  7 2018 10:41:23) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.2.13, Copyright (c) 1999-2018, by Zend Technologies

[2019-01-29 09:17] mbabic131 opened #742 "[Elastica Bundle] New release"
Hello,

I was trying to update `enqueue/enqueue-bundle` to `^0.9` but was unable to do so because of constraints in `enqueue/elastica-bundle`.  Last version of this bundle requires `"enqueue/enqueue-bundle": "^0.8"`.

Releasing a new version of `enqueue/elastica-bundle` will fix this problem.

[2019-01-29 09:22] makasim commented on #742
done - https://github.com/php-enqueue/enqueue-elastica-bundle/releases/tag/0.9.0

please test it

[2019-01-29 09:22] #742 closed

[2019-01-29 14:08] kricha opened #743 "[enqueue/elastica-bundle] The "enqueue_elastica.queue_pager_perister" service or alias has been removed"
Got error, when running `bin/console fos:elastica:populate --pager-persister=queue`:
[code]

so, `enqueue_elastica.queue_pager_perister` need to be public

cc @makasim

[2019-01-30 10:15] #743 closed

[2019-01-30 15:22] mbabic131 opened #744 "[job-queue] Composer version constraint"
Related to #659
`enqueue/job-queue:^0.9` have this composer version constraint `"enqueue/null": "0.9.x-dev"`.

For reasons explain in #659 this can cause problems when you want install only stable versions.

[2019-01-30 15:23] makasim commented on #744
Could you please send PR that fixes it?

[2019-01-30 16:20] mbabic131 commented on #744
yes

[2019-01-31 02:05] symfu opened #746 "Add ability to process message in parallel"
Currently, messages are processed one by one, that's inefficient, maybe we can utils other async frameworks to process messages in parallel.

I've looked into frameworks like amphp, it seems fit this quest, any idea?

[2019-01-31 08:41] makasim commented on #746
If you want to process messages in parallel you should run more consumers. It is not possible to process them in parallel in one process. PHP interpreter executes one command at a time. amphp would help if there is non-blocking IO, the time spent there could be used to do some other stuff. But complexity would be to high

[2019-01-31 08:41] #746 closed

[2019-01-31 16:37] GCalmels opened #747 "Symfony async_events. Custom transformer never used"
When I add a custom transformer with a regex eventName : `'/app\.text\..*?/'`, the transformer is never used.
I think it is because `eventsMap` in Registry is an array with the first element : `'/.*/'` so it is always `true` for regex eventName, right ?

I don't know how to add custom transformers before the standard transformer ... but maybe I could add `array_reverse` to `eventsMap` ?

[2019-01-31 18:46] makasim commented on #747
I think that the default one should be added here https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/async-event-dispatcher/DependencyInjection/AsyncTransformersPass.php#L32 as the last one.

[2019-02-01 09:00] DamienHarper commented on #741
@aphex008  it looks like what have been fixed in #725, could you test against `master` branch?

[2019-02-01 11:22] makasim commented on #741
If so, should be fixed in 0.9.7 `

[2019-02-01 11:22] #741 closed

[2019-02-01 13:58] Steveb-p opened #749 "[kafka] RdKafkaProducer has no way of error handling"
When an error occurs in `RdKafkaProducer`, it is silently ignored - or, more accurately, since it occurs outside of the main thread of php/php-fpm, it is not reported back.

A simple test can be done to see this issue: trying to send a message to a non-existent Kafka server will result in nothing (see point 2. though)

This results in two things:
1. Process has no way of knowing, that a message th

[2019-02-01 14:04] makasim commented on #749
I don't have an immediate answer. Will think about it

[2019-02-01 14:13] Steveb-p commented on #749
When callbacks are set up like so:
[code]
They are called once and result in:

[code]

[2019-02-01 16:33] cshum opened #750 "[Redis] messages lost and non-atomic operations"
During our usage of Enqueue Redis on a  possibly unstable connections with lots of retries, we occurred ~3-5 message lost out of ~50000 messages.

Having looked into source the [receiveMessage/processResult](https://github.com/php-enqueue/redis/blob/master/RedisConsumerHelperTrait.php#L23) [acknowledge/requeue](https://github.com/php-enqueue/redis/blob/master/RedisConsumer.php#L114) are indeed non

[2019-02-01 17:04] Toflar commented on #635
@ASKozienko as you contributed the new Redis implementation, wdyt?

[2019-02-01 20:45] makasim commented on #635
He is on vacation at the moment and will be back the week after next. Do not expect an answer till than

[2019-02-01 20:47] makasim commented on #750
That should be addressed indeed, not sure what would be the best approach to fix it though.

[2019-02-01 20:48] makasim commented on #747
fixed

[2019-02-01 20:48] #747 closed

[2019-02-01 20:52] Toflar commented on #635
Cool, thanks for the hint! We'll let him enjoy vacation then 🍹  I had a closer look at the current implementation and unfortunately he used sorted set scores already for the "failover" implementation so things are put back to the queue if they never got acknowledged.
However, maybe the approaches could be combined but I don't want to fiddle around with the lua scripts etc. before I get his opinion

[2019-02-01 23:04] tkocjan opened #753 "[amqp] Add setDeliveryMode method to Producer for persistent messages"
I need to have persistent messages with RabbitMQ. I would really like to set the DeliveryMode on the producer instead of on every message.

JMS has the setDeliveryMode() method on MessageProducer and it seems like enqueue should as well. \Interop\Queue\Producer has the setDeliveryDelay, setPriority and setTimeToLive methods from JMS MessageProducer but not setDeliveryMode. Is there any reason why

[2019-02-02 02:01] cshum commented on #750
Atomic ones are probably harder to implement.

What about setting add operations _before_ the remove ones? There may be duplicated messages but still better than message lost.

[2019-02-02 08:02] makasim commented on #753
I would add it to amqp only as I've not aware of any other transport that uses the option

https://github.com/queue-interop/amqp-interop/blob/master/src/AmqpProducer.php#L8

[2019-02-03 11:05] dgafka opened #754 "[interop] Lack of IsConnected API for Context"
Hello,
Is there a reason, Context doesn't provide API for checking, if connection is open (e.g. `isConnected` method)?
There is API for closing the connection, but no for the above: https://github.com/queue-interop/queue-interop/blob/master/src/Context.php.

This would be useful during message handling in long running processes.
As we could check, if connection is currently running.  If not, then

[2019-02-03 11:48] Steveb-p commented on #749
@makasim I've looked into this further and found two issues regarding topic configuration - in .NET client library of librdkafka and librdkafka itself (https://github.com/edenhill/librdkafka/issues/2202, https://github.com/confluentinc/confluent-kafka-dotnet/issues/322).
It seems that `setDefaultTopicConf` creates a separate configuration object which has nothing to do with global configuration (a

[2019-02-03 19:31] makasim commented on #749
I am completely sold at it. The message queue is async by its nature and should not wait for anything. Also waiting for confirmation might drastically decrease the performance of the producer process. The wait operation kind of blocking and the script does not do anything valuable while waiting for the confirmation.

[2019-02-04 09:32] panslaw opened #756 "Is it possible to change queue fos_elastica_doctrine_orm_sync_index_with_object_change name?"
I use one aws account to develop two projects. They use enqueue-elastica-bundle both. So, my two projects use the same queue to get changed objects and it's make conflicts.

Can I set or change fos_elastica_doctrine_orm_sync_index_with_object_change queue name per project?

[2019-02-04 09:41] makasim commented on #756
You should overwrite this service https://github.com/php-enqueue/enqueue-elastica-bundle/blob/master/DependencyInjection/EnqueueElasticaExtension.php#L60

with your which contains getSubscribedCommand method updated.

[2019-02-04 09:41] #756 closed

[2019-02-04 09:45] Steveb-p commented on #749
I agree to an extent. However, currently our Kafka integration will silently ignore all Producer errors, unless someone notices that messages are missing and/or looks into syslog. PHP process itself is unaware of any issues and will look as if everything is ok.

Librdkafka itself suggests calling `poll` method to check subthread for message errors & acknowledgement (https://github.com/edenhill/lib

[2019-02-04 09:50] makasim commented on #749
@Steveb-p thanks for your very well detailed answer. Would you be able to provide a PR for this issue?

[2019-02-04 10:07] Steveb-p commented on #749
@makasim Yes, will do. Just wanted to clarify what approach I should take before doing anything :)

[2019-02-04 11:17] panslaw commented on #756
Ok, I'll try but that is not enough. If I'm wrong, correct me.

I should overwrite also https://github.com/php-enqueue/enqueue-elastica-bundle/blob/master/DependencyInjection/EnqueueElasticaExtension.php#L75

because changed objects will be saved into default "fos_elastica_doctrine_orm_sync_index_with_object_change" queue:

https://github.com/php-enqueue/enqueue-elastica-bundle/blob/master/Doctrin

[2019-02-04 11:55] makasim commented on #756
You are right,  ideally, it should be possible to configure a queue in the bundle config.

[2019-02-04 14:22] panslaw commented on #756
I have one more question.

Can I override https://github.com/php-enqueue/enqueue-elastica-bundle/blob/master/DependencyInjection/EnqueueElasticaExtension.php#L75 when service id is created dynamically?

[2019-02-04 15:46] marhub commented on #719
Sorry, but you do not get me.

considering following code:

[code]
 when using E**nqueue\AmqpBunny\AmqpConnectionFactory** => message ( seems to be not ok ):

![image](https://user-images.githubusercontent.com/2960432/52218965-feb7a180-289b-11e9-8e66-1e82de78610c.png)

when using  **Enqueue\AmqpLib\AmqpConnectionFactory** => message is different ( seems to be ok )

![image](https://user-images.git

[2019-02-04 16:59] makasim commented on #719
Agree, have you found out why this happens?

[2019-02-05 10:50] makasim commented on #754
I would prefer a standard exception. It would be more reliable, what would I get if I dont call isConnected and call any other method?

[2019-02-05 10:51] makasim commented on #754
@dgafka wdyt?

[2019-02-05 13:40] dgafka commented on #754
I understand. This would behave as you expect. If you call a method on lost connection it will throw an exception.
As connections are not reliable, we may expect them to fail. The need is, to recover from such kind of situation without making the client taking care of it.
So, if the connection will be lost, we could use isConnected API, for checking if something bad happened. If so, then we make u

[2019-02-05 13:54] makasim commented on #754
close means that a context is closed. It does not necessarily mean the whole connection is closed. One connection might have several contexts working at the same time.

[2019-02-05 13:54] makasim commented on #754
depends on a broker, transport and client implementation though.

[2019-02-05 17:28] moafred opened #758 "[Symfony Bundle] Try to connect to amqp host on cache:warmup"
Enqueue try to etablish the connection to the amqp server on cache warmup. This should not happen knowing it's not runtime.

In a docker build, the real host of AMQP is not set yet, only a fake one is defined in the symfony parameters as env fallback.

**Command**
[code]

**Stack trace**
[code]

[2019-02-06 08:38] Steveb-p commented on #758
Looks like you've created a command that uses AMQP during construction or configuration phase. See https://symfony.com/doc/current/console/commands_as_services.html#lazy-loading

[2019-02-06 10:00] moafred commented on #758
@Steveb-p you were right ! Thanks for the tips ;)

[2019-02-06 10:00] #758 closed

[2019-02-06 12:39] c0deright commented on #157
For people like me finding this in 2019 or later and wondering why authentication still doesn't work with servers having the 'guest' user deleted:

The config-array has to use 'user' instead of 'login': https://github.com/php-enqueue/amqp-tools/blob/master/ConnectionConfig.php

[code]

[2019-02-07 09:48] makasim opened #759 "[consumption] Add ability to change command exit status from queue consumer or its extension"

[2019-02-07 09:49] makasim opened #760 "[consumption] Add ability to pass global and per consume cycle custom context."

[2019-02-07 21:18] powerpd opened #761 "Error in new version enqueue-bundle "Attempted to load class "DoctrineSchemaCompilerPass""
I got error after update enqueue to 0.9.7
composer.json
[code]

Error
[code]

[2019-02-08 08:13] makasim commented on #761
You should upgrade `enqueue\enqueue` to `0.9.7`

[2019-02-08 08:22] powerpd commented on #761
Thanks, got it, I'll try at evening and write here about results :)

[2019-02-08 19:56] powerpd commented on #761
Yeah, my mistake, sorry for troubling

[2019-02-08 19:56] #761 closed

[2019-02-09 17:39] dgafka commented on #754
Sorry that it took me so long to respond. I wanted to find some time to take a look on code and get more information how enqueue works under the hood.

The close method indeed does not do much with connection. The only problem I see is in Redis one, where close actually closes the connection, that can be reused in different contexts (bug?).

I see there is no way to achieve auto-reconnection with

[2019-02-10 11:24] Spartaques opened #762 "[Laravel] Queues are not created automatically but only on send or consume."

[2019-02-10 11:29] Spartaques commented on #762
I tried to use laravel-enqueue as default queue, but when i exec php artisan queue:work interop i got this error:
https://monosnap.com/file/PWzb9xLSnTS4mB72JJWE1sDsUlEzHs
As i understand, queues not created automatically. I can create queue using rabbitmq management plugin, but this is not the best idea.

[2019-02-10 11:43] Spartaques commented on #762
Fixed. Queue was created automatically when i pushed some message to queue. SO QUEUE was cread when message produced but not when i called php artisan queue:work.

[2019-02-10 13:11] Spartaques opened #763 "[Laravel] SimpleClient works only with fanout."
I have some case when i need to use queue instead of fanout. I need to recent messages when something went wrong. But SimpleClient as i understood correctly creates only fanout exchange.
I need pocibility to adopt this functionality:
https://blog.forma-pro.com/message-bus-to-every-php-application-42a7d3fbb30b
to Laravel app.

[2019-02-11 08:40] makasim commented on #762
That would be great to add a kind of setupBroker method to the Laravel queue object so the queue could instruct the broker about required setup.  That would handy for such transports as SQS and AMQP, RabbitMQ

We could go one step further and introduce a setup broker cli command. Could be used in prod

[2019-02-11 14:40] marhub commented on #719
I belive it's due to internal implementation of bunny lib

[2019-02-14 14:08] #759 closed

[2019-02-15 19:26] antishov commented on #379
Thanks a lot, man

[2019-02-18 06:06] dgafka commented on #754
@makasim can you answer?
I may implement it and provide MR, or I can build it with my scope of code. To pick one I need to know, what do you think about the idea :)

[2019-02-18 09:28] makasim commented on #754
The solution is to introduce a CachingConnectionFactory right?

[2019-02-18 17:40] dgafka commented on #754
This is proof of concept for AMQP package: https://github.com/dgafka/amqp-lib/pull/1
Please take a look on it and let me know, what do you think :)

[2019-02-19 07:44] makasim commented on #750
If you need strict message delivery guarantee than I'd suggest you to use a real broker such as RabbitMQ or AmazonSQS.

We've investigated the issue at our end looking for a solution to fix it. Unfortunately, we've not come with any better approach. The current one is not ideal but it remains the best one

[2019-02-19 07:44] #750 closed

[2019-02-19 07:45] makasim commented on #719
closing than, should be addressed in bunny repo.

[2019-02-19 07:45] #719 closed

[2019-02-19 07:47] #229 closed

[2019-02-19 07:48] makasim commented on #252
fixed in https://github.com/php-enqueue/enqueue-dev/pull/672

[2019-02-19 07:48] #252 closed

[2019-02-19 07:48] #580 closed

[2019-02-19 07:50] makasim commented on #763
The client can send commands directly to the destination queue. Simple client does support that feature yet.

[2019-02-20 09:58] makasim opened #769 "[sns][sqs] Add docs for newly added transports."
* [ ] Docs should be updated
* [ ] Readme should be updated
* [ ] Create repos
* [ ] Update subtree split script
* [ ] Update release script
* [ ] Prepare packages on packagist

https://github.com/php-enqueue/enqueue-dev/pull/672

[2019-02-21 08:03] nataliaAznar opened #773 "[bundle][asyncEvents] Reenqueue on failure"
I am trying to reenqueue an event when it fails, but it is dispatched as a sync event.
Is there any way to reenqueue an event when it fails?

[2019-02-21 08:09] makasim commented on #773
[Sync mode](https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/async-event-dispatcher/AsyncListener.php#L58) has to be disabled for the event you want to requeue.

There is no way to do it for a single event atm

[2019-02-21 08:15] enumag opened #774 "Infinite loop when handling an exception (critical bug in my opinion)"
I'm using the Symfony bundle. I start my consumer using `bin/console enqueue/consume` and sure enough it works just fine.

However if one of the consumed messages causes an exception, the consumer freezes without even writing anything to console or log - the exception is nowhere to be seen.

I used xdebug to find out what caused it and I believe the reason is that Symfony/Console runs into an infi

[2019-02-21 08:20] nataliaAznar commented on #773
I have already checked that.
My problem is that, in the event, although  it is defined as asynchronous, the sync mode has not been restored when it is executed. Because of this, when I requeue the event, it is dispached as a sync event.
I am trying to inject the AsyncListener in the event, but it seems that is is not defined when de listnere is called:

Cannot autowire service "Listener": argument

[2019-02-21 08:29] enumag commented on #774
Ping @nicolas-grekas. You're the original [author](https://github.com/symfony/symfony/commit/bb020f4a729b7178ebabd26cbab6bb225deb3f09) of this code in Symfony. What on earth is the reason to create an infinite loop of exceptions?

[2019-02-21 08:37] makasim commented on #774
As far as understand this https://github.com/php-enqueue/enqueue-dev/pull/725 fixes the issue. Could you check?

[2019-02-21 08:41] enumag commented on #774
@makasim No it doesn't. I'm using v0.9.7 which already has this fix.

Maybe the condition there supposed to be `if ($exception !== $e) {`? Because that's what happened in my case - `$exception` and `$e` are one and the same while `$wrapper` is different.

Also ping @DamienHarper - as the author of #725 you might have an idea.

[2019-02-21 08:47] Guikingone opened #775 "[Bundle] Missing commands"
Hi everyone,

Small question about the Symfony Bundle, I try to use the bundle in order to send message to a Redis queue, problem is, when I want to debug/list the created topics, the command isn't displayed

Here's the documentation list: https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/cli_commands.md#cli-commands

Here's my terminal:

[code]

Any idea about this case? 🤔

Thank

[2019-02-21 09:11] makasim commented on #775
sorry, I don't get what the problem you face

[2019-02-21 09:18] Guikingone commented on #775
I should normally see the `enqueue:topic` command?

Problem is, I don't see how to debug my topics using the displayed commands 🤔

[2019-02-21 09:51] makasim commented on #775
`enqueue:topics` and `enqueue:queues` have been removed. Use `enqueue:routes` instead

[2019-02-21 09:51] #775 closed

[2019-02-21 09:56] Guikingone commented on #775
Maybe an update on the documentation could be a good idea?

[2019-02-21 10:20] makasim commented on #775
Sure it is

[2019-02-21 18:47] DamienHarper commented on #774
@enumag Sorry I couldn't reply earlier, #725 helped me fix some issues I was experiencing at that time. Recently, I faced again some infinite loops, caused by those self-referencing exceptions, making some of my commands crash again. Though I hadn't enough time to investigate more.
So thanks for the fix.

[2019-02-21 19:00] #774 closed

[2019-02-22 16:56] CHenzel commented on #307
Hi,

I have the same problem and the setting "--receive-time=20000" not working with consume command

`bin/console enqueue:consume --env=dev --receive-time=20000 =>  The "--receive-time" option does not exist.`

This setting change for --receive-timeout ? I

`bin/console enqueue:consume --env=dev --receive-timeout=20000`

I try but is not better, when i start consume command the "numberOfEmptyRece

[2019-02-22 17:04] CHenzel opened #778 "[SQS][symfony bundle] Enable long polling to reduce the number of empty receives with"
Hi,

Same as the issue https://github.com/php-enqueue/enqueue-dev/issues/307

I use the enqueue bundle for symfony with SQS, and the numberOfEmptyReceives in aws SQS  explode (> 5000), without send and consume any messages.

I try the setting "--receive-time=20000" but not working with consume command

`bin/console enqueue:consume --env=dev --receive-time=20000 => The "--receive-time" option does

[2019-02-22 17:47] CHenzel commented on #778
Edit :
For test, if i force WaitTimeSeconds to 20s in php class SqsConsumer, it's works no numberOfEmptyReceives anymore.

So How we can set **ReceiveMessageWaitTimeSeconds** to 20 seconds ? and **WaitTimeSeconds** in SqsConsumer to 20 seconds ?

[2019-02-22 20:24] CHenzel commented on #778
Edit:

Apparently the problem comes from the consume function in the FallbackSubscriptionConsumer class

$message = 1 === $subscriberCount ? $consumer->receive($timeoutMs) : $consumer->receiveNoWait();

But i have several subscribers so receiveNoWait is use and bypass the configure timeOut, it's normal?

For the moment my only solution is to use a command by subscriber

bin/console enqueue:consume

[2019-02-23 11:18] makasim commented on #778
Amazon SQS does not support a consumption from multiple queues, hence FallbackSubscriptionConsumer does a kind of workaround. And, there is nothing we can do at our end to properly address the issue.

You should run a consumer per queue so it uses `receive` method internally and there does not produce many requests to Amazon API.

[2019-02-24 10:26] ahmetilhann opened #779 "How can I restart the entity manager?"
I am using Symfony version 4.2 . I use other packages I write below.
[code]
I am running the cosume command using a supervisor. I write my supervisor setting below.
[code]
Entity manager is closed after working for a certain period of time. I think I need to start again. But I could not do it in the code. But when the supervisor restarts, everything starts working. How can I solve this problem bec

[2019-02-24 11:03] Steveb-p commented on #779
EntityManager is not expected to restart at this point. ORM team says it can lead to potential desync errors (due to EM being out of sync with actual database state) and it should not be reopened. That's why they don't even provide a way to restart it in original code.

If the reason EntityManager becomes closed is closed connection to database. You can check for connection state and reopen it for

[2019-02-24 17:52] jean-gui opened #780 "Enqueue DBAL DSN invalid"
Hi,

I am trying to setup the DBAL transport with SQLite in Symfony.
My enqueue.yml is:
[code]
An in my .env I have:
[code]

If I try to start Symfony console I get `Failed to parse DSN "sqlite:////*******/var/data.db"`

So I tried to tweak the DSN, but the only way to make it work is by putting a single /, but then if I try the command enqueue:setup-broker, I get `Failed to parse DSN "sqlite:////

[2019-02-24 18:03] jean-gui commented on #780
It seems that issue is with PHP's parse_url() function, called in DbalConnectionFactory.php, line 101.

[2019-02-24 21:22] ahmetilhann commented on #779
I tried it but the result didn't change.
When I started the Supervisor again, I tried something like this.
But did not work again

[code]

[2019-02-25 08:03] makasim commented on #779
Sorry, this has nothing to do to Enqueue. Feel free to continue a discussion in the closed issue or open an issue on Doctrine repo.

Closing

[2019-02-25 08:03] #779 closed

[2019-02-25 08:14] Steveb-p commented on #779
@ahmetilhann why do you even need to interact with `supervisord`? It should - judging from your configuration - restart the process immediately as it **ends**. So all you need to do is allow the process to end.

[2019-02-25 12:45] KDederichs opened #782 "[Question][SQS][Async Events] Async events and multiple workers"
Hey,

I'm trying to use your Async Event extension to run some long running tasks and it's working great.
I ran into one issue though:
If I start multiple consumers, lets say the 4 you use in your production example (https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/production_settings.md)
More than one of those consumers will pick up that event and try to execute it multiple time

[2019-02-25 13:53] KDederichs commented on #782
Ok found out I can solve it with a job queue never mind :)

[2019-02-25 13:53] #782 closed

[2019-02-25 14:05] TomPradat opened #783 "Doc example doesn't work"
In the documentation it's written that you can instanciate a factory (for localhost) with :

`$factory = new \Enqueue\AmqpLib\AmqpConnectionFactory();`

Though i get an error stating that the Enqueue\Dsn\Dsn class cannot be found. Everythink works fine if i give the factory an empty array.

https://github.com/php-enqueue/enqueue-dev/blob/master/docs/transport/amqp_bunny.md

[2019-02-25 14:51] makasim commented on #783
Do you use composer to install the package?

[2019-02-25 16:17] TomPradat commented on #783
Yes i do, i tried to dump the autoloader but still had the problem

[2019-02-25 16:26] makasim commented on #783
You are right. `amqp-tools` should require dsn pacakge. In fact it is required but in dev. https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/amqp-tools/composer.json#L17

should be moved to require section.

[2019-02-25 16:43] TomPradat commented on #783
Yes indeed, do you want me to create a PR or are you handling it ?

[2019-02-25 17:48] KDederichs opened #784 "[SQS][Question] Update from 0.8"
Hey,

I've been using version 0.8.x of enqueue with SQS for a while now and saw that there is a version 0.9.x available.
The problem is after switching my command Processors to the new interfaces and changing the config around it doesn't seem to send commands anymore.
The profiler says it sent the event but it doesn't appear in the SQS console and the consumer also receives nothing.

My ```enqueue

[2019-02-25 18:53] makasim commented on #783
That would be great if you could send it to us

[2019-02-26 07:49] ahmetilhann commented on #779
The problem was solved by changing supervisor settings. I missed the setting.

new supervisor setting

[code]

Thanks

[2019-02-26 10:18] #783 closed

[2019-02-26 11:05] KDederichs commented on #784
Ok seems like the messages ARE sent but not into the router queue.
When I send a command it appears in the command queue and gets consumed without a trace (-vvv log output is showing nothing at all except ```Change logger from "Psr\Log\NullLogger" to "Symfony\Component\Console\Logger\ConsoleLogger"```)

[2019-02-26 12:31] KDederichs commented on #784
Ok so it was a stuck unique job queue in the end (maybe log it somewhere in debug mode when those are being rejected?)
I think you should consider doing a migration guide somewhere anyways though, every time you guys change your config it's always hard to find all the small changes.

[2019-02-26 12:31] #784 closed

[2019-02-26 12:56] KDederichs opened #786 "[Symfony][SQS][Job] Unique Root job still 'running' after children finish"
Enqueue version 0.9.7

Hey,

I'm running a unique job queue that spawns multiple sub jobs using a command processor.
The problem is that even after all the sub jobs finish, the unique root job is still in the 'running' state and does not finish, thus blocking all other unique jobs with the same name:

![screenshot 2019-02-26 at 13 54 49](https://user-images.githubusercontent.com/24696606/53414075-

[2019-02-26 13:09] makasim commented on #784
This has been the first time we changed a configuration. Would you like to send a PR with upgrade changes? I think we can create UPGRADE.md file in the root dir and mention changes there.

[2019-02-26 13:52] KDederichs commented on #784
@makasim I made a PR with the things I noticed while upgrading.
And maybe not config changes but I recall I updated enqueue about a year or two ago and there were some breaking changes as well that took be a while to find

[2019-02-26 16:59] KDederichs commented on #786
Update:
It works if I only run a single consumer.
It might be some sort of race condition where the other consumer picks up the ```CALCULATE_ROOT_JOB_STATUS``` event you guys are firing before the other consumer commit the change in status to the database?

[2019-02-27 07:36] dkarlovi opened #788 "[All] Released packaged should only require other released packages"
Currently in the 0.9 branch, a lot of packages require `dev` versions of other packages, examples:

https://github.com/php-enqueue/enqueue-dev/blob/7ab383fe6ef0239132d0f9ec72d1beb74aaf1374/pkg/amqp-bunny/composer.json#L12

https://github.com/php-enqueue/enqueue-dev/blob/7ab383fe6ef0239132d0f9ec72d1beb74aaf1374/pkg/amqp-ext/composer.json#L12

https://github.com/php-enqueue/enqueue-dev/blob/7ab383fe

[2019-02-27 08:30] makasim commented on #788
That has to be fixed. Would you like to submit a PR?

[2019-02-27 09:01] dkarlovi opened #789 "[Symfony] Custom processors not showing up in enqueue:routes"
I have a processor implementing only `Interop\Queue\Processor`. I add tags to it from a compiler pass, it looks like this:

[code]

Judging by[ the documentation](https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/message_processor.md#register-a-custom-processor), this should be enough for it to be used, but it doesn't show up in `bin/console enqueue:routes` nor does it work.

[2019-02-27 09:19] dkarlovi commented on #788
@makasim #790

[2019-02-27 12:41] KDederichs commented on #786
I managed to get around it for now by periodically calling the ```CALCULATE_ROOT_JOB_STATUS``` command myself but that can't be the solution here.

[2019-02-27 15:38] makasim commented on #789
Confirm. It should work as described in the linked doc.

[2019-02-27 15:41] makasim commented on #789
Could you please debug this code https://github.com/php-enqueue/enqueue-dev/blob/3775a422a3471ea8c9e9a59c9d295c9287c54ca9/pkg/enqueue/Symfony/Client/DependencyInjection/BuildProcessorRoutesPass.php#L29-L66 ?

[2019-02-28 07:40] dkarlovi commented on #789
It seems the order of the compiler passes is wrong, your compiler pass finding the processors triggers before mine, the priority changed between 0.8 and 0.9. I'll try to find more details.

[2019-02-28 07:57] dkarlovi commented on #789
OK, so I had my pass at
[code]

You have your at
[code]

This obviously changed from before, [you've set it while migrating passes](https://github.com/php-enqueue/enqueue-dev/commit/08a20a5ac222a008019ff953b8193a47b1cb2532).

It might make sense to make sure your passes run last when adding passes with no priority (defaults to 0) because otherwise this doesn't work by default. Maybe -100 instead o

[2019-02-28 08:26] dkarlovi commented on #788
Double checked this in master, it's not there. Then tried to remove the packages fully and reinstall them (so, not updating), it worked as expected.

Closing.

[2019-02-28 08:27] #788 closed

[2019-02-28 09:50] makasim commented on #789
I don't remember what is that priority for

[2019-02-28 10:14] dkarlovi commented on #789
It determines which passes run first (higher = first).

So, if I'm adding topics for my custom processors from a compiler pass, I must always supply a number higher than 100 and can't use the default.

My proposal is to **set your priority to -100**, that way if I add a compiler pass in userland to add topics, I don't need to supply any priority and it will work with defaults.

[2019-03-01 06:31] ahghatol opened #792 "Package size issue"
We are trying to package this library inside Joomla component but there is a limit on installable package size.

We just need Amazon SQS, Doctrine DBAL transport.

The **vendor** and **pkg** folder size is 91 MB and 6.2 MB respectively after running command `composer require enqueue/sqs` and `composer require enqueue/dbal`.

Is there a way to reduce this package size?

[2019-03-01 11:16] makasim commented on #792
I've got 20MB on a clean isntallation of dbal and sqs. We've recently excluded some folders like tests from the distribution package.

I've no idea how to shrink the size more. Feel free to submit a PR if you find one.

[2019-03-01 11:16] #792 closed

[2019-03-01 16:53] artandor opened #793 "[Symfony][RabbitMQ] Enqueue null not working with Enveloppe"
I followed [this documentation](https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/functional_testing.md) because i wanted to test my producer on an API-platform route.

In my case, i want to run my tests in a Gitlab CI environement, which mean there is no real need in testing the connexion to my broker (RabbitMQ here). Therefore, i've followed this configuration :

[code]

I get a

[2019-03-01 17:11] KDederichs opened #794 "[Job][Symfony] Job not found on Master/Slave setup"
Enqueue version: 0.9.7

Hey, I'm running my Symfony in a Database master/slave setup and sometimes the consumer can not find the sub jobs.
They are in the Database so I assume the consumer is sometimes faster than the replication lag of the system causing it fail.

It would be great if the job system would always use the master instance by default (in case of a master/slave setup) to circumvent th

[2019-03-01 19:55] makasim commented on #793
This is not an issue of Enqueue itself but Enqueue Messenger adapter. Please open an issue there https://github.com/php-enqueue/messenger-adapter

[2019-03-01 19:55] #793 closed

[2019-03-04 14:30] pimshtein opened #795 "AmqpTopic::TYPE_FANOUT"
Why in this class (Enqueue\Client\Driver\AmqpDriver), we can specify only the type AmqpTopic::TYPE_FANOUT (in function createRouterTopic)?
There is a need to specify other exchange types.

[2019-03-04 21:51] Toflar commented on #635
Ping @ASKozienko :)

[2019-03-07 16:36] KDederichs commented on #786
After lots of frustration it seems to be related to doctrine caching the entity in some way.
So the solution would be to refresh the entity before using it to calculate the root status.
I made you guys a PR to do just that.
@makasim

[2019-03-12 14:05] CHenzel commented on #778
Hello,

It's better than before. NumberOfEmptyReceives goes from 8000 to 30, but still not zero ...

490,297 queries empty since the beginning of the month by sending almost no messages from symfony.

I tried with the receive_timeout at 0 and 20000, and in both cases the WaitTimeSeconds is at 20 seconds in the SqsConsumer.php, so it's correct for me.

In aws sqs queue parameters : Receive Message

[2019-03-13 15:12] aldenw opened #800 "[sns] Sns transport does not support message attributes, needed for message filtering"
Right now I don't see a way to specify message attributes as described [here](https://docs.aws.amazon.com/aws-sdk-php/v3/api/api-sns-2010-03-31.html#publish). This prevents from using the SNS message filtering.

I've made a [pull request](https://github.com/php-enqueue/enqueue-dev/pull/799) with changes that would allow the message attributes, and other fields allowed by the Aws Sns api to be prov

[2019-03-14 15:17] CHenzel commented on #778
I have same problem in local without supervision, with juste one consume queue

bin/console enqueue:consume --env=dev -vvv enqueue_synchro_object_update

[2019-03-16 22:47] scottgutman opened #801 "Configuration for Symfony 4 Messenger and Enqueue SNS/SQS"
Have been struggling with trying to make this setup work but I am having trouble finding the correct config documentation.  The docs I have seen show sending the messages in code without using the Symfony MessengerBusInterface ->dispatch method.

Is this setup possible, and if so, what do the .env, messanger.yaml, and enqueue.yaml config files look like?

[2019-03-17 00:59] scottgutman opened #802 "Give permission for SNS to send messages to SQS"
After setting up SNS & SQS, I tried to send a message, but SQS never got the message. So I tried to send a message from the AWS GUI and still I was not able to send a message.  In my case, SNS did not have permission to send a message.  After adding the permission, messages sent through worked fine.

Here are the instructions to add a permission: https://docs.aws.amazon.com/sns/latest/dg/sns-sqs-a

[2019-03-17 06:43] makasim commented on #801
open issue here  https://github.com/php-enqueue/messenger-adapter

[2019-03-17 06:43] #801 closed

[2019-03-18 09:29] #734 closed

[2019-03-18 09:29] #431 closed

[2019-03-18 09:29] #589 closed

[2019-03-18 09:29] #590 closed

[2019-03-18 09:29] #591 closed

[2019-03-18 09:30] #593 closed

[2019-03-18 09:30] #727 closed

[2019-03-18 09:30] #74 closed

[2019-03-18 09:31] makasim commented on #795
Client is high level abstraction, if you need more control over how messages are sent and consumed use transport

[2019-03-18 09:31] #795 closed

[2019-03-18 09:31] #794 closed

[2019-03-18 09:32] #763 closed

[2019-03-18 09:32] #647 closed

[2019-03-18 09:32] #25 closed

[2019-03-18 14:13] j-schumann commented on #734
Was anything changed? Where do I find the documentation for passing the config?

[2019-03-18 18:58] Steveb-p opened #803 "[monitoring][influxdb] Do not attempt to create database / Allow TCP socket / custom Client"
I've created a PR for influxdb-php library introducing ability to write to TCP sockets, for example telegraf's ones - which allows me to write to a local socket instead of directly writing measurements to influxdb. (influxdata/influxdb-php#124)
I'm using a custom version of InfluxDBStorage class (monitoring) because the one from enqueue/monitoring always does try to create a database...
https://gi

[2019-03-19 08:44] gam6itko commented on #373
If you need to use delay feature on 0.9 this can help

[code]

Don't forget to add `enqueue/amqp-tools` in you composer config

[2019-03-20 11:25] gdsmith opened #804 "[stomp] can't use stomp failover"
Can't figure out how to use eg:

```failover://(tcp://amq1.host:61613,tcp://amq2.host:61613)?randomize=false```

[2019-03-20 13:14] makasim commented on #804
that's because the feature is not implemented.

[2019-03-21 10:56] gdsmith commented on #804
How would you suggest this be implemented? What would the config/dsn updates look like for this? Would you suggest changes to `Dsn` or implement only within the `php-enqueue/stomp` lib?

[2019-03-21 11:08] makasim commented on #804
`enqueue\dsn` already supports DSN like this one `stomp://amq1.host:61613,amq2.host:61613?randomize=false`. There is [Dsn::parse](https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/dsn/Dsn.php#L199) method for it.

I think it requires only changes in StompConnectionFactory.

[2019-03-26 13:32] Toflar opened #806 "Docs issue for multiple queues in Symfony bundle"
Hey folks,

I'm trying to configure the bundle in such a way that I can get 3 queues on redis (to mimic priority support).
So what I would like to have is the following

* 3 producers that all produce to the same transport but a different queue
* 3 workers `bin/console enqueue:consume` that consume from the same transport but a different queue

How do I configure that? I don't get it from the docs

[2019-03-26 18:06] makasim commented on #806
There is [client-queue-names](https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/enqueue/Symfony/Client/ConsumeCommand.php#L86) argument for that. Please note that it is a client queue name, not a transport one. You can find out which one to use by running `enqueue:routes` command

[2019-03-26 18:06] makasim commented on #806
There is similar options for `enqueue:transport:consume` command.

[2019-03-26 18:13] Toflar commented on #806
I saw that but by just reading the docs I don‘t know how to configure multiple queues for the same transport. The docs is basically just a `config:dump-reference` which doesn‘t say a lot about usage. It‘s lacking examples!

[2019-03-26 23:48] tkocjan commented on #753
@makasim Is a seperate AmqpDeliveryModeProducer interface necessary if all three amqp transports implement setDeliveryMode and instead just put it in Interop\Amqp\AmqpProducer? Could then just AmqpDeliveryModeProducer

[2019-03-28 11:30] pimjansen opened #807 "Processor was not found. processorName: "Enqueue\Consumption\CallbackProcessor5c9cae7d01f6a""
Hi,

Im trying out enqueue-dev with a basic setup within laravel. All works fine however i would like to decouple it from the framework and use the provided client instead. Main reason is that i want plain json in my queues to also consume in other languages.

Im now pushing messages on the queue with below:
[code]

All works fine and in the end i indeed have a few messages on my queue. I also reg

[2019-03-28 12:22] pimjansen commented on #807
I noticed that it also happens on the REENQUEUE return type. Works well for the ACK and REJECT

[2019-03-28 18:11] sylfabre opened #808 "Doc issue for functional testing"
Hi!

I want to add some functional testing to my enqueue implementation using Symfony.
I've read https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/functional_testing.md but I don't get what is the `a_service`?
Where does it come from? What kind of service is expected?

Thanks!

[2019-03-28 18:39] Steveb-p commented on #808
The purpose of this example is to show a test checking that a particular "service" does indeed put a message in a topic. `a_service` can be any service that is expected to do that.

[2019-03-28 22:24] Steveb-p commented on #580
@makasim can I reopen this since I intend to work on it? :)

[2019-03-28 23:23] Steveb-p commented on #749
@makasim I've looked `Interop\Queue\Producer` interface looks and there is really no reasonable way other than adding an additional method just for `RdKafkaProducer` :(
The fact that `poll` method should be called when producing is specific to `RdKafkaProducer` and probably should not warrant adding a new method to the interface just for that. On the other hand, it should be called periodically to

[2019-03-29 07:21] makasim commented on #749
Can we call poll just after sending a message, is there a way to wait for callback, stats ?

[2019-03-29 07:23] makasim commented on #749
I can think of only one solution https://github.com/laravel/framework/blob/8ab09fb6377eb5b6dab45ab38b0a62446b08e8ae/src/Illuminate/Queue/Worker.php#L139-L148

Not sure it works out.

[2019-03-29 10:20] sylfabre commented on #808
@Steveb-p ok thanks.

As is, it was not obvious that `a_service` with the `$service->do();` call was representing my business logic.

IMO, something like this is easier to understand:
[code]

[2019-03-29 17:15] Steveb-p opened #811 "[InfluxDB][Monitoring] Deprecate passing Client instance instead of config array/string"
I'd suggest deprecating it, because it basically prevents setting any other options, like database name, `measurementSentMessages`, `measurementConsumedMessages` and `measurementConsumers` (others being basically configuration options for the client itself).

In my opinion it would be best to be as strict as possible when creating function definitions, in this case a constructor. If there is a sec

[2019-03-29 17:18] Steveb-p commented on #808
There is a note at the beginning of the example.

But comments alongside the example would make a lot more transparent. Do you mind making a PR with your suggestions?

[2019-03-30 19:03] philmoreau opened #812 "[Elastica] Processors are not registered"
I've been following the documentation about [populate](https://github.com/FriendsOfSymfony/FOSElasticaBundle/blob/master/doc/cookbook/speed-up-populate-command.md) and [Doctrine](https://github.com/FriendsOfSymfony/FOSElasticaBundle/blob/master/doc/cookbook/doctrine-queue-listener.md). Unfortunately the examples do not seem to produce de desired results.

The command "bin/console enqueue:transport

[2019-03-31 16:51] philmoreau commented on #812
Downgrading to version 0.8.x of "enqueue/elastica-bundle", "enqueue/enqueue" and "enqueue/fs" fixes the problem.

[2019-04-01 11:42] #803 closed

[2019-04-01 16:00] sylfabre commented on #808
@Steveb-p here you are https://github.com/php-enqueue/enqueue-dev/pull/813

[2019-04-01 16:17] #808 closed

[2019-04-01 20:25] adrianrudnik opened #814 "[dbal] requeue leads to duplicate entries"
I Just tried to implement a simple JSON submit queue where the endpoint can either respond HTTP status code 200 or fail. For that fail case I wanted to use the requeue option.

Building a very basic approach I always end up with endless new entries in the enqueue table, every retry leading to a new entry. Maybe I'm totally reading the docs wrong:

`Interop\Queue\Processor::REQUEUE` defines itself

[2019-04-01 21:06] Steveb-p commented on #814
It does seem that early exit a line before should probably be removed.

https://github.com/php-enqueue/enqueue-dev/blob/947eb72a5cb1139fcdf4b0fda899db8221ba1d13/pkg/dbal/DbalConsumer.php#L99-L113

It was superfluous at the moment it was introduced a year ago (https://github.com/php-enqueue/enqueue-dev/blob/97159fe5e3820096d57685e20d869d9e029b830f/pkg/dbal/DbalConsumer.php#L124-L138) and was probab

[2019-04-01 21:26] Steveb-p commented on #814
@adrianrudnik could you check in your local version if you swap the DbalConsumer code with the one in the PR that it behaves how you'd expect?

[2019-04-01 21:51] adrianrudnik commented on #814
@Steveb-p just checked, yes it does, thanks!

[2019-04-01 22:13] Steveb-p commented on #814
Tests without the change in code:
[code]
Tests with changes removing the return.
[code]

[2019-04-02 06:51] #814 closed

[2019-04-05 09:57] hiepnt93 opened #817 "Enqueue\AmqpExt\Symfony\RabbitMqAmqpTransportFactory not found"
Fatal error: Uncaught Error: Class 'Enqueue\AmqpExt\Symfony\RabbitMqAmqpTransportFactory' not found in /var/www/html/vendor/enqueue/simple-client/SimpleClient.php:107

any know have same issue ?

i checked on that folder and cant find the file

[2019-04-07 15:18] Steveb-p commented on #811
Closed due to conversation in #809.

PR in question incorporates change described in issue description.

[2019-04-07 15:18] #811 closed

[2019-04-08 13:42] KDederichs opened #819 "[SQS][Job][Symfony]A new entity was found"
`
"A new entity was found through the relationship 'Enqueue\JobQueue\Doctrine\Entity\Job#rootJob' that was not configured to cascade persist operations for entity: Enqueue\JobQueue\Doctrine\Entity\Job@0000000005a18d9a000000005e8996cf. To solve this issue: Either explicitly call EntityManager#persist() on this unknown entity or configure cascade persist this association in the mapping for example @

[2019-04-10 12:12] slaur opened #821 "[Beanstalkd] Unable to use delay"
I'm trying to use enqueue/pheanstalk with the symfony bundle.
Messages without delay are processed without error.
If I send a message with delay, the `setDeliveryDelay` method in `PheanstalkProducer` will throw an exception.
![ex](https://user-images.githubusercontent.com/1848190/55877402-3263c000-5b9a-11e9-985a-bf33ed810bcf.png)
Was someone able to use delayed jobs with beanstalkd and enqueue ?

[2019-04-10 12:47] makasim commented on #821
The logic is not implemented, feel free to provide a pull request that adds it.

[2019-04-10 12:47] #821 closed

[2019-04-10 13:46] slaur commented on #821
Thank you, I'll have a look.

[2019-04-11 02:27] slaur commented on #821
Use `$message->setHeader('delay', $delay);` instead of `$message->setDelay($delay);`

[2019-04-12 18:21] philmoreau opened #823 "[Elastica] The SyncIndexWithObjectChangeProcessor cannot update an entity more than once"
When many updates to the same entity are queued, the SyncIndexWithObjectChangeProcessor will always keep the first representation of an entity that it fetched from Doctrine, causing all subsequent updates to resend exactly the same data.

This happens because Doctrine's manager keeps a cached version of the entity and reuses that version for subsequent calls to "find".

The solution is to clear al

[2019-04-12 18:27] philmoreau commented on #823
https://github.com/php-enqueue/enqueue-elastica-bundle/pull/17

[2019-04-22 14:44] dextervip opened #827 "[Enhancement] Dead Queue Support for Async Events and Commands"
Hi,

I was wondering if is there any implementation for dead queue on asyc commands and async events. Some of my messages are broken and I wouldn't like to stop my whole queue just because of one bad message but at same time I would like to keep it in other queue to further processing. As I am using supervisord to keep consumer on, it keeps trying the same message forever on loop. Any ideas?

[2019-04-23 11:43] demotivationme opened #828 "How to set channel from multiply connections in config"
Is there a doc showing how to setup connection for message producers. For consumers it is
"--client=" option.
Let me clarify what I meant. For example we have config:
[code]
 And i want to send message exactly to conn2, how can I do this using ProducerInterface from docs

[code]

[2019-04-24 10:56] KDederichs opened #829 "[Job] Is it save to delete old jobs?"
As the title says, is it save to delete old entries in the enqueue_job table?
Mine is getting a tad full and the lack of indices is making it slower and slower (since I still have to manually complete jobs, see issue https://github.com/php-enqueue/enqueue-dev/issues/786)

[2019-04-26 13:16] gjanvier opened #830 "[gps] Invalid pubsub messages should be acknowledged to avoid requeued"
Hello,

I am using enqueue/gps (0.9.2) for Google PubSub, and during my tests, when I submit an invalid message in the topic (manually, or with a different application), I got this error.

[code]

Basically we can have a bad situation in the `GpsConsumer` if a message has an issue, as such message would keep being pulled, generating an exception, being requeued and re-pulled, generating an excepti

[2019-04-26 14:23] 31vi5 commented on #455
This is actually fixed in https://github.com/php-enqueue/enqueue-dev/pull/824

[2019-04-27 12:46] Sevavietl opened #831 "Message body of arbitrary type"
First of all, thank you for the great packages. They helped me and my team a lot in working with such transports as Kafka and Pub/Sub. I think this library is a must-have for message-oriented PHP app.

This issue follows the [issue](https://github.com/queue-interop/queue-interop/issues/27) from [queue-interop/queue-interop](https://github.com/queue-interop/queue-interop). In a couple of words, now

[2019-04-27 19:16] koderoff opened #832 "[kafka] One consumer for multiple kafka topics"
I have several topics which are being populated by a separate app. Is there a way to consume from all of them by one consumer?

[2019-04-28 11:49] Sevavietl commented on #832
As far as I know, you cannot do this using enqueue.

[php-rdkafka](https://github.com/arnaud-lb/php-rdkafka) (based on [librdkafka](https://github.com/edenhill/librdkafka)) on which [php-enqueue/rdkafka](https://github.com/php-enqueue/rdkafka) is based provides [low-level consuming](https://github.com/arnaud-lb/php-rdkafka#low-level-consuming-from-multiple-topics--partitions) for such cases:

[cod

[2019-04-28 19:06] Steveb-p commented on #832
According to example present in the docs: https://arnaud-lb.github.io/php-rdkafka/phpdoc/rdkafka.examples-high-level-consumer.html it is possible to use multiple topics in high level consumer, so we might look into allowing this in some form or another.

[2019-04-28 19:35] Sevavietl commented on #832
@Steveb-p nice point, my bad.

From the source code, I see no other problems to implement this in the rdkafka transport except than:

1. `RdKafkaConsumer::getQueue()` should return `Queue` and in the current implementation `Queue` is the topic itself (`RdKafkaTopic`).
2. As transport can be configured with DSN only, as I understand, don't you know if there any conventions for specifying multiple t

[2019-04-28 19:47] Steveb-p commented on #832
@Sevavietl I wasn't considering what changes to existing code should be made for it to work, or if it even makes sense considering other implementations (of enqueue queues). To be frank, I was almost sure one cannot use multiple topics in high level consumer myself.

As far as 2. is concerned, dsn should be perfectly capable of handling it. Specifically, `php-enqueue/dsn` can work with arrays like

[2019-04-28 20:01] Sevavietl commented on #832
@Steveb-p thank you for the prompt response. I would be glad to help with this functionality, will try to create the PR

[2019-04-30 06:47] dhanabalarumugam opened #833 "TypeError: array_key_exists() expects parameter 2 to be array, null given"
TypeError: array_key_exists() expects parameter 2 to be array, null given

/vendor/enqueue/amqp-lib/AmqpSubscriptionConsumer.php:98

[2019-04-30 08:09] Steveb-p commented on #833
This?
https://github.com/php-enqueue/enqueue-dev/blob/e399498922ed4d0a0056208bf10f0f1abfa989d8/pkg/amqp-lib/AmqpSubscriptionConsumer.php#L98

Please confirm which version on `php-enqueue` you're using. You can run `composer info enqueue/*` to get that information without looking through composer.lock file.

[2019-05-01 21:11] winzou opened #834 "EventTransformer transport-agnostic?"
Hi,

I'm trying to set up a custom EventTransformer, thanks to this part of the doc: https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/async_events.md#event-transformer

The `toMessage` method should return a `Interop\Queue\Message` as per its phpdoc: https://github.com/php-enqueue/enqueue-dev/blob/bf26188ad17068f8d483195a3ccbf84f2dc97962/pkg/async-event-dispatcher/EventTransforme

[2019-05-01 22:01] koderoff opened #835 "Message processor without default client"
I setup enqueue for two clients something like this:

/config/packages/enqueue.yaml

[code]

/config/services.yaml

[code]
Now I have two message processors which implements CommandSubscriberInterface and I want to bind each of them to his specific client. But the problem is that each processor that implements CommandSubscriberInterface is automatically registered with amqp client (which is defaul

[2019-05-01 22:05] Steveb-p commented on #835
You can disable `autoconfig` in `ClickMessageProcessor` service, which should turn off assigning tags based on interfaces they implement.

[2019-05-01 22:13] koderoff commented on #835
Exactly what is needed. Thanks)

[2019-05-01 22:13] #835 closed

[2019-05-01 22:17] Steveb-p commented on #835
@koderoff for your reference, you can always check what configuration Symfony actually applied to a service using `php bin/console debug:container` command, even so far as to specify a particular service you want to look at (`php bin/console debug:container App\\Async\\ClickMessageProcessor --tags` I believe?)

There you would notice additional tag being assigned :)

[2019-05-01 22:24] Steveb-p commented on #831
@Sevavietl could you please open a draft PR, so changes made would be more easily accessible? :) You know most people are lazy :)

I'm pretty sure Symfony recently changed their Symfony Messenger component to rely on php's built-in serializer unless a specific serializer instance is passed. Their reasoning was that in most cases built-in serializer is sufficient, especially when dealing with intra

[2019-05-02 07:03] dhanabalarumugam commented on #833
This is what I'm getting
enqueue/amqp-lib   0.9.8 Message Queue Amqp Transport
enqueue/amqp-tools 0.9.8 Message Queue Amqp Tools
enqueue/dsn        0.9.2 Parse DSN

[2019-05-02 07:36] Steveb-p commented on #833
I've looked through the code and yeah, it seems that this particular array was simply not initialized :/

On your local copy you can simply initialize it - in constructor or as part of property declaration - and see if it helps and the library works. I'm not familiar with this code so I can't say for sure for myself.

If it's all that is required and it works properly after that, I'll provide a PR

[2019-05-02 12:10] makasim commented on #834
This is a typo. `Enqueue\Client\Message` instance could not be used there.

You should inject `Interop\Queue\Context` instance to the transformer and use it to create a proper message instance.

[2019-05-02 21:02] winzou commented on #834
Thanks! Indeed I had injected the context and I'm now able to create a message with `$context->createMessage()`. Working like a charm!

One last, unrelated thing, I have created an extension on `onPostConsume` to flush the Doctrine entity manager after async events have been consumed. The extension runs (I can see it in the log) but it does not flush anything in the db. Is there any limitation of

[2019-05-03 06:29] dhanabalarumugam commented on #833
Yeah I have done that way and It worked fine for me.

[2019-05-03 08:37] makasim commented on #834
There is no any I am aware of. I'd suggest flushing on post message received since post consume depends heavily rely on consuming timeout.

[2019-05-04 07:27] tigerstrikemedia opened #837 "SQS Message ID"
The SQS Message handler does not set the AWS `messageID` to the message ID can we add

[code]

to the `SqsConsumer` `convertMessage()` method ?

Thanks
Ben

[2019-05-04 19:40] #833 closed

[2019-05-04 19:40] makasim commented on #837
LGTM

[2019-05-08 16:39] winzou commented on #834
Thanks! It was an unrelated issue.

[2019-05-08 16:39] #834 closed

[2019-05-09 12:43] damianprzygodzki opened #838 "Too minimalistic approach for config documentation"
I am totally confused with documentation that is constructed really poor.

I understand that we have topics to connect messages to processors, but there is no information about connecting this to transport queue. There is also no info about ability of configuration more clients (Clients or topics?). Naming in config is also confusing, like 'routerQueue' vs. 'defaultQueue'.

Wasted lot of time to r

[2019-05-09 12:48] Steveb-p commented on #838
You're welcome to provide improvements to documentation.

As with many open-source projects, oftentimes documentation is satisfactory to the one writing the actual library, but not for end users - which is obviously due to the fact that author does have an understanding of what code does and "assumes" knowledge of it's internals.

At the very least please provide links to documentation pages that

[2019-05-09 12:53] damianprzygodzki commented on #838
It is totally hopeless idea to let person who struggle with bundle create documentation.

That's why i created issue - to announce that there is a need.

It is also funny because each of documentation available (official github repo or readthedocs service) has different and not up to date docs, so if you need URL, each one available is confusing.

Issue is about config documentation, config is doc

[2019-05-09 13:14] Steveb-p commented on #838
Quite the contrary. You were looking for a particular option or configuration value and was unable to deduce what it stands for or where it can be found.
If you have it figured out - you said you spent time on it - then you're best suited to provide contribution since your knowledge is "fresh". If you did not, then ask a specific question.

As I said - even though I'm only "responsible" for Kafka

[2019-05-09 13:17] damianprzygodzki opened #839 "Debug command enqueue:routes has to few info"
__Queue__ column should have full queue name displayed (info that this is prefixed doesn't satisfy me at all, there is no place to debug what queue name is sent.

[2019-05-09 13:24] damianprzygodzki commented on #838
Thanks, i do.
[code]

[2019-05-10 13:49] poliander opened #840 "[enqueue-bundle] How to define a Redis DSN to use a unix socket instead of TCP?"
From what I can see in the sources the Redis adapter would use a unix socket when DSN scheme is "unix", but DSN is always "redis://..." so it's actually not possible to change the scheme to unix?

Shouldn't be socket connection used e.g. when the scheme is like "redis:///run/redis/redis.sock" or something like that? Currently it will use default fallback 127.0.0.1:6379 for such a DSN

Note: I am r

[2019-05-10 14:49] poliander commented on #840
`
# export ENQUEUE_DSN="unix:///run/redis/redis.sock" ; ./bin/console messenger:consume-messages

In ConnectionFactoryFactory.php line 39:

  A given scheme "unix" is not supported. Maybe it is a custom connection, make sure you registered it with "Enqueue\Resources::addConnection".
`

`# export ENQUEUE_DSN="redis:///run/redis/redis.sock" ; ./bin/console messenger:consume-messages
Array
(
    [sch

[2019-05-13 10:09] vfalduto opened #841 "[Symfony] DebugClassLoader return Enqueue\Consumption\QueueConsumer::bindCallback as invalid."
When execute phpUnit we have this warning

The "Enqueue\Consumption\QueueConsumer::bindCallback()" method will require a new "string|InteropQueue $queueName" argument in the next major version of its parent class "Enqueue\Consumption\QueueConsumerInterface", not defining it is deprecated.

When we compare the class and interface, the only diff is on the phpDoc

[2019-05-13 14:32] Steveb-p commented on #840
You might be able to achieve socket based connection using `redis+unix://run/redis/redis.sock` DSN string.

It is specified in https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/redis/RedisConnectionFactory.php#L115, so it's possible it's supported already in current release.

[2019-05-13 14:59] poliander commented on #840
Thank you very much for your response,

I already tried that but without any success. Today I wrote my own RedisConnectionFactory which contains something like...

[code]

[2019-05-13 14:59] Steveb-p opened #843 "[Kafka] Support headers"
Kafka messages can contain headers. I've seen some other packages had issues allowing headers to be sent, so I guess they can be introduced to Kafka package as well?

So far I've noticed that changes would be then required to `\Enqueue\RdKafka\RdKafkaConsumer::doReceive` and `\Enqueue\RdKafka\RdKafkaProducer::send` would need to switch between `produce` and `producev` Kafka producer methods. Do yo

[2019-05-13 15:06] Steveb-p commented on #840
I've taken a little more time to look into the code and while `RedisConnectionFactory` can support socket based connections if schema is specified as `unix://`, but `ConnectionFactoryFactory` needs the first part to select which Factory to instantiate (`redis+unix://`).

Then DSN is passed without any changes to `RedisConnectionFactory`, scheme protocol is checked against support schemes (only `re

[2019-05-13 15:09] Steveb-p commented on #832
@Sevavietl did you have time to look into this? Or can I take it over?

[2019-05-13 15:32] makasim commented on #840
Yes, you are right. The factory should accept `redis+unix` scheme and use path as path to socket. ignoring host, port etc

[2019-05-13 15:34] Steveb-p commented on #840
@makasim I'll provide a PR for it them soon™

[2019-05-13 16:35] makasim commented on #843
I like the idea of moving headers. We should consider possible BC breaks and try to avoid them.

[2019-05-13 18:52] grekpg opened #844 "Get messages count for topic"
I use symfony bundle (amqp+ext://rabbitmq) how i can get messages count ?

[2019-05-13 18:58] grekpg commented on #64
Im not understatnd, how i can get messages queue -  i use symfony bundle. I try
[code]

where i can count messages ?

[2019-05-13 19:02] makasim commented on #64
[code]

topic (or in terms of rabbitmq -exchange) does not store messages

[2019-05-13 19:19] grekpg commented on #64
[code]

error:

`Server channel error: 406, message: PRECONDITION_FAILED - inequivalent arg 'durable' for queue 'enqueue.app.default' in vhost '/': received 'false' but current is 'true'
`
[code]

same error.
Can i get queue from some Symfony service ? or how set durable true (this is default settting from symfony) i just need count messages ..

![image](https://user-images.githubusercontent.com/2

[2019-05-13 19:22] #844 closed

[2019-05-13 19:46] Sevavietl commented on #832
@Steveb-p I have looked into, but have not implemented it into PR yet, so if you want you can take it over.
Or, better yet, maybe we can discuss the changes we need to implement this.
I do not know if here is the best place for a long discussion...

[2019-05-13 21:01] Steveb-p commented on #832
@Sevavietl I’m available on php-enqueue’s gitter most od the time :)

[2019-05-14 10:24] sustmi commented on #838
I also currently struggle with the docs. If you don't mind, I will write my specific problems here. Or I can create separate issue from them if you want to keep this discussion focused on different topic.

### 1. Transport vs Client
Only during writing this comment I realized what is the difference between Client and Transport.
Surely, both terms are described in the quick tour: https://github.com

[2019-05-14 10:26] Steveb-p commented on #838
@sustmi thanks, I'll take a detailed look in the evening :)

[2019-05-15 07:35] makasim commented on #841
I cannot reproduce the issue. Feel free to send us a PR that fixes the issue.

[2019-05-15 07:35] #841 closed

[2019-05-15 07:35] makasim commented on #839
Feel free to send us a PR that address the issue. I think a separate column with transport queue name would be good.

[2019-05-15 07:35] #839 closed

[2019-05-15 07:36] makasim commented on #837
Feel free to send us a PR that address the issue

[2019-05-15 07:36] #837 closed

[2019-05-15 07:39] makasim commented on #830
This can lead to bad situations when a problem goes unnoticed. The issue should be addressed on a higher level, not in the consumer). For example, a consumer extension can handle an exception and reject the message. I would go that way If I needed it.

[2019-05-15 07:39] #830 closed

[2019-05-15 07:48] makasim commented on #831
I've opened PRs. Hope @Sevavietl dont mind.

https://github.com/queue-interop/queue-interop/pull/28, https://github.com/php-enqueue/enqueue-dev/pull/846.

I will review PRs later this week. Thanks for your work @Sevavietl

True, good for starters but once you grow you hit the wall

[2019-05-15 07:58] makasim commented on #778
20 seconds in a maximum that Amazon allows us to set. There is no we can do with it at our side.

[2019-05-15 08:00] makasim commented on #828
[code]

You'll find producer service ids. Make sure to inject the want you want. The auto wire work for a default connection which is the first one in your case.

[2019-05-15 08:00] #828 closed

[2019-05-15 08:01] makasim commented on #827
One way to address it is to add a consumer extension that does the job.

[2019-05-15 08:01] #827 closed

[2019-05-15 08:03] makasim commented on #817
It might be a misconfiguration issue. What enqueue version do you use? Have you installed amqp ext transport?

[2019-05-15 08:05] makasim commented on #806
I will add some when got into that topic again. feel free to contribute by improving the doc too. You are the one who understands the best what is not clear and hard to grasp.

[2019-05-15 08:05] #806 closed

[2019-05-15 08:06] makasim commented on #804
Closing because of lack of activity. Feel free to send us a PR.

[2019-05-15 08:06] #804 closed

[2019-05-15 08:10] makasim commented on #780
Feel free to provide a PR that fixes the issue.

[2019-05-15 08:10] #780 closed

[2019-05-15 08:13] makasim commented on #762
As far as I know, Laravel does not have a notion of broker setup API. So we should do a custom solution for Laravel Queue integration.

The integration of Enqueue Client has that feature and expose a cli command called enqueue:broker-setup.

Feel free to send a PR that address the issue.

[2019-05-15 08:13] #762 closed

[2019-05-15 08:13] #800 closed

[2019-05-15 08:14] makasim commented on #800
Implemented in https://github.com/php-enqueue/enqueue-dev/pull/799

[2019-05-15 08:44] Sevavietl commented on #831
@makasim thank you.

should have done this myself, but had had a lot of work at work)

will try to make my time now, because I really want to help (as much as I can) such a great project

[2019-05-15 09:03] sylfabre opened #847 "How to set visibility timeout when consuming"
Hello,

I'm using a consumer using `Interop\Queue\Impl::ConsumerVisibilityTimeoutTrait`
But how may I set this timeout when consuming messages?

I'm using the Symfony command `php bin/console enqueue:transport:consume`

[2019-05-15 12:34] sustmi commented on #838
_This may be seem out-of-topic but since @damianprzygodzki already mentioned the poorly documented `client` options and I think this is related._

### 5. Why no messages arrived to my Kafka topic and what is _router_?
I am trying to send a message to Kafka topic. I get no error or warnings but no messages arrived to the topic yet.

My config.yml contains this:
[code]

I am sending the message like

[2019-05-15 13:19] Steveb-p commented on #838
To clarify it on the spot: topic as enqueue understands it is **NOT** Kafka topic. Topic set in `sendEvent` method is only present in message properties. For all other purposes there is only one `RdKafkaTopic` object in use.

[2019-05-15 15:16] sustmi commented on #838
Maybe I got whole Enqueue library wrong.
I thought about Enqueue as a Doctrine database library but for message queues.

But now I have a feeling that Enqueue is actually one level of abstraction higher. Instead of comparing it to a Database access library it could be compared to Entity-Attribute-Value model that stores all data in a single database table. Am I right?
I mean that it does not use t

[2019-05-15 16:08] Steveb-p commented on #838
@sustmi I can't say for sure, since I have only a rough idea how other transports work.

Technically speaking, there is not much preventing enqueue from using multiple Kafka topics for it's communication. It's only that at the moment when it was created it simply did not (I'd think about more like a proof of concept that Kafka can work as a transport).
There is definitely a lot of improvement that

[2019-05-15 16:26] Steveb-p commented on #843
I'd suggest the following:
1. When producing put headers into actual Kafka message headers when `producev` method is available (phprdkafka 3.1.0). Otherwise stick to `produce`.
2. Read headers from Kafka message if they are available. Fall back to headers contained in body if they're empty.

Message properties would remain near body for the time being, unless you want them moved into headers?

Per

[2019-05-15 18:53] athlan opened #848 "Service locator does not have a processor with name"
I would like to consume messages sent outside of application. Thus I declare the following processor.

References:
* https://github.com/php-enqueue/enqueue-dev/issues/451#issuecomment-395439984
* https://enqueue.readthedocs.io/en/stable/bundle/message_processor/

[code]

services.yaml
[code]

After runnng:
[code]

I get an exception:
[code]

Tagging service additionally with `enqueue.client.messag

[2019-05-15 19:05] makasim commented on #848
You should also add [another tag](https://github.com/php-enqueue/enqueue-dev/blob/446eb4042f18fd7c645aaf64c24d6bf7078e885b/pkg/enqueue/Symfony/DependencyInjection/BuildProcessorRegistryPass.php#L30)

[2019-05-15 19:05] #848 closed

[2019-05-15 19:06] makasim commented on #848
No, it is not. It should be https://github.com/queue-interop/queue-interop/blob/master/src/Message.php

[2019-05-15 19:14] athlan commented on #848
Thank you for quick reply a lot!

It seems that documentation under https://enqueue.readthedocs.io/en/stable/bundle/message_processor/ is outdated comparing to https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/message_processor.md.

Are they related? Is it an option to update it - means that it's out of sync only or it's completely different repo?

[2019-05-16 06:05] makasim commented on #848
I've no time to keep readthedocs up to date. It is completely out of date. I decided to shut it down.

[2019-05-16 08:25] athlan commented on #848
Ok, thank you for the follow up

czw., 16 maj 2019, 08:05 użytkownik Max Kotliar <notifications@github.com>
napisał:

[2019-05-16 16:56] dmlang commented on #807
I get the same exception after few minutes with no messages, even with ACK.

`LogicException: Processor was not found. processorName: "Enqueue\Consumption\CallbackProcessor5cdd92fa1c131" in /var/www/html/protected/vendors/enqueue/enqueue/ArrayProcessorRegistry.php:33
Stack trace:
#0 /var/www/html/protected/vendors/enqueue/enqueue/Client/DelegateProcessor.php(38): Enqueue\ArrayProcessorRegistry->ge

[2019-05-16 20:19] Polylogic opened #851 "[fs] Dsn::parse() does not support Windows paths"
Hi. I'm trying to setup the enqueue/fs 0.9.8 transport in Symfony 4.2 on Windows platform, PHP 7.2.
My enqueue.yml is:
[code]
.env file:
[code]
Unfortunately `parse_url($dsn, PHP_URL_PATH)` fails to parse strings like `file://C:\\path\\to/var/queue`. This way we get `['host' => 'C', 'path' => null]` which is obviously wrong.

[2019-05-17 09:04] TiS commented on #284
+1 ZeroMQ

[2019-05-20 10:25] dmlang commented on #807
don't bother with my problem, I'm not going to use enqueue ... just not ready/stable jet. You should definitely improve your documentation ... "basic" would be euphemism.

[2019-05-20 18:04] akrz commented on #807
Same problem as @dmlang , It seems that it'll randomly throw that error after a while.

I'm using the redis client

[2019-05-20 19:12] akrz opened #853 "SimpleClient with ConsumerMonitoringExtension"
So, how can I use the ConsumerMonitoringExtension with the SimpleClient API?

[2019-05-20 20:01] makasim commented on #853
https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/simple-client/SimpleClient.php#L188

[2019-05-20 20:01] #853 closed

[2019-05-20 22:13] DamienHarper opened #854 "[amqp-bunny] High CPU usage since 0.9.10"
Since I updated to `amqp-bunny` from 0.9.9 to [0.9.10](https://github.com/php-enqueue/amqp-bunny/commit/1919ffec9a14012c0b0a98b8c9efb7592504a227), I am experiencing constant very high CPU usage.

I tracked down the root cause: I haven't set any `heartbeat` option in `enqueue.yml` file and since version 0.9.10, it is assumed as `heartbeat: 0` which causes the consumer to send heartbeat continuously

[2019-05-20 23:06] Steveb-p commented on #854
@DamienHarper please make your PR against this repository (files for `amqp-bunny` are located in `pkg/amqp-bunny` directory).

The one you've made your PR for is read-only repository which is updated on each release via a spliting script.

Thanks :)

[2019-05-21 00:11] akrz commented on #853
Alright, I was able to use it like this (make sure to use the ChainExtension from **Consumption** namespace):
[code]

Is there a way to track consumer metrics using amqp-ext? The docs states:

But the consume method for amqp-ext says:

So, how can I call from time to time to send metrics?

[2019-05-21 05:01] makasim commented on #853
Set a none zero timeout

[2019-05-21 06:48] makasim commented on #851
I suggest this format for Windows users `file:?path=url_encoded_path`. It is not supported at the moment. These lines have to be adjusted https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/fs/FsConnectionFactory.php#L84-L89.

[2019-05-21 06:49] makasim commented on #847
only via consumer extension.

[2019-05-21 06:50] #847 closed

[2019-05-21 06:56] makasim commented on #838
Auto wire works for default transport\client (explicitly named `default` or the first configured).

[2019-05-21 06:59] makasim commented on #838
You mistake Enqueue Client Topic with Kafka ones. These are different concepts. The message does not get anywhere because there is no subscribers (processors) listening for that topic. Hence the message goes nowhere. In contrast, if there is no processor for the command an exception is thrown.

[2019-05-21 07:00] makasim commented on #838
Not all transports support pub\sub out of the box (file, redis, sqs to name a few). So we added a router concept to overcome that limitation.

[2019-05-21 07:08] makasim commented on #838
It depends on what you are using. If you use Enqueue Client then it is a high level abstraction and
of course it hides away some kafka parts.  If you use rdkafka transport provide low level access to kafka features almost as is.

[2019-05-21 07:10] makasim commented on #838
Doc improvements are very welcome. Please send us A PR

[2019-05-21 07:11] makasim commented on #823
The doctrine clear extension could be used.

[2019-05-21 07:11] #823 closed

[2019-05-21 07:12] makasim commented on #829
If it has a completed status you can remove them. You can add indexes manually. It should work.

[2019-05-21 07:12] #829 closed

[2019-05-21 07:14] makasim commented on #802
There is no such way. Feel free to provide a PR that adds this feature.

[2019-05-21 07:14] #802 closed

[2019-05-21 07:15] makasim commented on #773
https://github.com/php-enqueue/enqueue-dev/pull/777#issuecomment-492535856

[2019-05-21 07:15] #773 closed

[2019-05-21 07:15] #778 closed

[2019-05-21 07:17] makasim commented on #789
needs PR

[2019-05-21 07:17] #789 closed

[2019-05-21 07:17] makasim commented on #840
needs PR

[2019-05-21 07:17] #840 closed

[2019-05-21 07:18] #817 closed

[2019-05-21 07:18] makasim commented on #812
Is the issue still there? Have you found anything?

[2019-05-21 07:19] makasim commented on #786
possibly a bug. needs PR

[2019-05-21 07:19] #786 closed

[2019-05-21 07:20] makasim commented on #819
possibly a bug. needs PR

I do not use job-queue

[2019-05-21 07:20] #753 closed

[2019-05-21 07:20] makasim commented on #753
needs PR

[2019-05-21 07:21] makasim commented on #807
possibly a bug. needs PR

[2019-05-21 07:21] #807 closed

[2019-05-21 07:21] makasim commented on #769
needs PR

[2019-05-21 07:21] #769 closed

[2019-05-21 07:22] #819 closed

[2019-05-21 07:35] #730 closed

[2019-05-21 07:35] makasim commented on #730
needs pr

[2019-05-21 07:38] makasim commented on #760
needs PR

[2019-05-21 07:38] #760 closed

[2019-05-21 07:49] Steveb-p commented on #838
@makasim can we keep issues open so they show up on the "issues" page? Unless they're really stale. I value the opinion of people here and would like to get as much feedback as possible and incrementally provide PRs :)

[2019-05-21 07:54] DamienHarper commented on #854
@Steveb-p I didn't make any PR, I just opened an issue (referencing the latest commit of the `0.9.10` release) to "help" people facing the same issue (high CPU usage) and keep track of the problem. It has been introduced in PR #820.

Setting a heartbeat value of 0 "spams" the RabbitMQ backend with heartbeat frames and keeps the CPU at 100% constantly so I don't think it's a good idea to let users

[2019-05-21 08:21] mariusbalcytis commented on #749
I think it's best to have 2 modes available:
- slow down / block the execution. I don't see this as "for no reason". It's the default for any other remote calls in PHP - HTTP libraries, database connection etc.
- make another method to explicitly call for developer herself to get all the responses. We can add on top of this to make methods to send confirmed batches of messages or similar functiona

[2019-05-21 08:38] makasim commented on #854
The PR  #820 has to reverted.

[2019-05-21 08:39] makasim commented on #838
Then we should agree on what stale is.

[2019-05-21 08:44] nightlinus commented on #854
maybe explicitly distinguish zero value and no value?

[2019-05-21 08:54] DamienHarper commented on #854
Thanks @makasim and @nightlinus for your quick feedback!
As long as we do not see any real benefit to set heartbeat to 0, I'd vote to revert PR #820 as an easy solution. How do you want to proceed now? I mean who does the revert?

[2019-05-21 09:23] Steveb-p commented on #838
They're still relatively easy to find, but closed state suggests that issue reported has been resolved.
Obviously we can and will discuss about it despite the issue state, but it can be misleading.

I just don't understand your reasoning for closing so many of them despite still expecting some kind of feedback in most of them (please don't take it as criticism, I just might not see your point / re

[2019-05-21 09:27] Steveb-p commented on #854
Sorry, I misunderstood the reference. I thought it was a new PR. My bad.

Feel free to PR the revert commit :) It doesn't matter in the end, does it :)

[2019-05-21 09:27] makasim commented on #838
I am fine keeping them for 30 days. Let's stick to that rule.

From my experience, the work is either done right away or never

[2019-05-21 09:30] Steveb-p commented on #838
We can use https://github.com/probot/stale if you'd like to have it done automatically, so you won't have to deal with those.

Want me to prepare all the configuration and instructions for it for us?

[2019-05-21 09:31] makasim commented on #838
That would be great

[2019-05-21 09:37] DamienHarper commented on #854
Done. PR #855

[2019-05-21 09:54] #854 closed

[2019-05-21 12:44] akrz commented on #838
This is the most frustating PHP package I've ever used. The docs is in shambles, lots of 404 links. I understand that PRs are welcome but I don't think a lot of people are capable to improve them when a lot is entangled, obscured and, simply, a mess.

My recommendation to anyone that reads this and wants a simple rabbitMQ wrapper:
- Follow this: https://www.rabbitmq.com/tutorials/tutorial-one-php.

[2019-05-21 12:46] akrz commented on #807
This is a bug but you close it?

[2019-05-21 12:56] makasim commented on #807
It is stale. Nobody works on it. What is the reason keeping it open? What for?

[2019-05-21 13:06] akrz commented on #807
To keep bugs and limitations of the package in plain sight. Nobody looks at CLOSED issues when reviewing a github repo.

[2019-05-21 13:11] makasim commented on #807
Then the tracker is overflowed with open issues making it really hard to find relative stuff.

[2019-05-21 18:49] philmoreau commented on #812
I thought it was related to #789 but using @dkarlovi 's [solution](https://github.com/php-enqueue/enqueue-dev/issues/789#issuecomment-468174256) did not solve the problem, so I downgraded to 0.8 and kept it.

Sorry, not much help I know but that is all I can tell you right now.

[2019-05-21 18:54] philmoreau commented on #823
I hadn't noticed there was an extension for that, thanks!

Just wondering, is there a reason why the extension's behaviour isn't the default? Wouldn't it make sense to always fetch the entity's latest state, especially since this processor is called when an update is made?

[2019-05-21 18:58] makasim commented on #823
Not everyone uses doctrine so enabling the ext by default might cause more trouble than it solves.

[2019-05-22 11:09] damianprzygodzki commented on #838
Next thing i've found, totally useless - https://github.com/php-enqueue/enqueue-dev/blob/master/docs/transport/null.md.

What tools of enqueue it uses? Is it mock of transport or just NULL for everything? I read - it is doing nothing, but in functional testing chapter i see that you are tracing this message. If it is doing nothing than why we are tracing this message?

Maybe we should link it with

[2019-05-22 11:13] cadavre commented on #838
The truth, from what I'm seeing, is that enqueue authors made their own concepts to implement abstraction over different queueing libraries/systems.

The problem is they rephrased some industry-standard keywords (like "topic") into their own understanding.

It's ok because you can invite rookie users to use queues, but it's enough rarely for a week or two. Eventually everyone ends up saying "ok, t

[2019-05-23 09:45] Steveb-p commented on #838
@damianprzygodzki @cadavre Thanks for the input. I'm currently working on an issue at work which prevents me from starting to work on a PR for this, but I'll take it into account when I give it a go on friday.

Thanks for using enqueue, despite all it's flaws.

[2019-05-24 09:07] Steveb-p opened #857 "[consumption] Context should be closed when exiting"
In the particular case of Kafka package, when consumption ends, explicit connection closure is necessary to allow new process to immediately pick up consumption.

Otherwise there is a delay before messages become consumed again before Kafka broker realizes that connection was dropped permanently and reassigns partitions to new consumer.

This might be solved at a later date in phprdkafka library,

[2019-05-24 09:09] makasim commented on #857
Can [SubscriptionConsumer](https://github.com/queue-interop/queue-interop/blob/master/src/SubscriptionConsumer.php) be applied?

[2019-05-24 09:10] makasim commented on #857
For Consumer, we can add a note to the docs that the unsubscribe method should be called to speed up things.

[2019-05-24 09:21] aun408 opened #858 "How to clear/handle stuck jobs when using the enqueue/job-queue?"
Hi, I have one issue where the child job status is **enqueue.job_queue.status.success** but it's root job still in **enqueue.job_queue.status.running** status. So leaving the records (root and child) in enqueue_job_unique table and causing the subsequent jobs (same name) not able to run. I can clear it from database manually, just wondering if there is any better way to do so?

[2019-05-24 10:38] makasim commented on #858
I think this is a bug.

[2019-05-24 23:11] aun408 commented on #858
I see, I see try to get the reproduction steps for this if possible. Need to do some debugging to get the details.

[2019-05-25 16:08] Steveb-p opened #864 "Move docs to github pages"
Documentation in current form, while works great, requires traversing "source code" of repository. It might be beneficial to use gh-pages to show documentation only.

It should be little cost to enable it. As a matter of fact, @makasim you can already do so in repository settings by going to https://github.com/php-enqueue/enqueue-dev/settings and choosing `/docs` from master as gh-pages source. Co

[2019-05-25 16:57] Steveb-p commented on #857
I've actually tested that with a consumer with 10 seconds timeout and it seemed that despite calling `unsubscribe` on context there was a delay before next process picks up. Which means it's either a Kafka specific issue (more librdkafka) or it did not disconnect properly. I don't know what version of related libraries I was on, I'll check on monday at work.

[2019-05-25 17:54] Steveb-p commented on #864
I made an oopsie and accidentally commited to the main repository... :(

Since those are not really important changes I didn't try to revert them or force push :(

[2019-05-25 18:07] Steveb-p commented on #864
I f... up and accidentally pushed into this repository instead of my own (for template testing for enqueue github pages). I've force pushed master back into previous state, but you might want @makasim to enable strict checks against pushing to master:

![image](https://user-images.githubusercontent.com/3183926/58373098-ac70be00-7f28-11e9-976b-e7ff15c4bd01.png)

[2019-05-25 18:39] makasim commented on #864
Few people have access to the repo. The restriction would make their life harder. It does not bother me much, at least now. Let's keep it as is.

[2019-05-25 18:40] makasim commented on #864
Good idea with gh pages. I'll give it a try.

[2019-05-25 18:42] Steveb-p commented on #864
@makasim If you don't mind I'll simply give you colabolator status on the fork, so you'll be able to check how it looks without affecting current master branch (since afaik you can either have gh-pages branch, master branch in root, or master branch in `/docs`). I've also added instructions on how to run documentation locally with docker.

[2019-05-26 20:15] Steveb-p commented on #864
@makasim You'll probably need to enable github pages in https://github.com/php-enqueue/php-enqueue settings for github to pick up the pages. It should show `master` branch specifically, without /docs subdirectory.

[2019-05-27 08:48] makasim commented on #864
fixed

[2019-05-27 08:48] #864 closed

[2019-05-27 10:29] Steveb-p opened #871 "[Kafka] Add docs regarding producing messages with keys"
There is a use-case for Kafka that allows it to "compact" messages according to "key" sent along with the message. This allows for keeping "the most recent" state, discarding obsolete messages from history.

Phprdkafka already allows sending key along with the message:
https://arnaud-lb.github.io/php-rdkafka/phpdoc/rdkafka-producertopic.produce.html
![image](https://user-images.githubusercontent.c

[2019-05-27 11:41] Steveb-p commented on #857
According to https://github.com/edenhill/librdkafka/wiki/Proper-termination-sequence#high-level-kafkaconsumer calling `unsubscribe` is unnecessary. We might want to consider placing "proper termination sequence" code inside enqueue, but I'll have to check what actual effect it will have on an application.

[2019-05-27 12:49] Steveb-p commented on #871
nvm, I've realized that you can `setKey` on `RdKafkaMessage`, so it works. It's just obscured and there is no mention of it in the docs. Therefore, I'd instead add a note in Kafka docs that this possibility exists.

[2019-05-27 12:55] Steveb-p commented on #838
Documentation has been moved to github pages (https://php-enqueue.github.io/) and will be subsequently updated. It should be easier to navigate once #870 and #872 are merged.

[2019-05-27 13:42] Steveb-p commented on #749
Not really. A lot of drivers support asynchronous execution. Producing a message (which is done in a subthread by the way) can take from a couple ms's to a few seconds at worst, and there are legitimate reasons to allow the program to execute further and - possibly - produce more messages.

In my opinion the choice between waiting for message production results should be left to the user. We've mo

[2019-05-27 14:01] makasim commented on #749
@Steveb-p or it could be a similar approach I did for subscription consumer. A context could create a producer responsible for such kind of message publishing. If transport does not support it than NotSupportedException is thrown. That way we do not pollute context with extra methods which is good. WDYT?

[2019-05-27 14:09] Steveb-p commented on #749
@makasim In other words you want to introduce `SubscriptionProducer`-like interface to `queue-interop`?

I'm not really familiar with `SubscriptionConsumer` concept, so I'll have to actually read the code :)
I've taken a skim on tests related to it, but they're not obvious for me at a glance.

[2019-05-27 14:12] makasim commented on #749
I am think of `AsyncProducer`. Not sure if this a good idea or not, needs poc.

[2019-05-27 14:47] Steveb-p commented on #749
[code]
created from `$context->createProducer(...)` and then rely on user code to check against `ProducerAsync` if they want to use async-specific methods?

[2019-05-27 14:55] Steveb-p opened #876 "Install probot/stale"
@makasim As discussed in a different issue.

I've sent a request to `php-enqueue` to install the bot. If it didn't show up as notification, you can add it manually using https://github.com/apps/stale/ install link on top right.
You probably want to install it only to `enqueue-dev` repository, which can be selected as one of the options there.

![image](https://user-images.githubusercontent.com/318

[2019-05-27 18:46] makasim commented on #876
done

[2019-05-27 18:46] #876 closed

[2019-05-27 19:23] Steveb-p commented on #876
I've seen bot running rampant, closing issues left, right and center :D

:+1:

[2019-05-28 08:25] makasim commented on #838
@damianprzygodzki @cadavre please review concepts in https://github.com/php-enqueue/enqueue-dev/pull/863 and let us know if that makes sense to you. You can comment on the PR. Thanks

[2019-05-29 13:16] makasim commented on #838
https://php-enqueue.github.io/concepts/

[2019-05-30 06:57] ryancastle commented on #271
$ app/console enqueue:setup-broker
$ app/console doctrine:migration:diff
# Flip up()/down() methods in migration
# Add "enqueue" to schema_filter

[2019-05-31 14:22] makasim opened #879 "[client] onPostSend method should be called on exception too."

[2019-05-31 14:51] pedrofpvieira commented on #843
Hi @Steveb-p, @makasim  :)

First, thanks for the awesome job in keeping this lib updated. In my company (Jumia) are using it without any issue so far.

Relatively to this issue, can you please tell me if you, or anyone you know, are already working in some PR?
We could benefit with this change, and if no one is working on it yet, i can develop and submit a PR for this issue. Our main goal in read

[2019-05-31 17:25] Steveb-p commented on #843
@pedrofpvieira I was actually looking at it two weeks ago and had a rough code that should work. It's missing tests however, both automatic (possibly) and manual (I haven't really checked if it works properly).

Take a look at it, maybe modify your app code to use this PR and see if you have any comments / issues with it. I'll test it more during the weekend, hopefully.

[2019-05-31 20:41] Steveb-p commented on #843
@pedrofpvieira I've added you as collaborator to the fork containing the PR, in case you wanted to work on it :)

[2019-05-31 21:01] pedrofpvieira commented on #843
Cool @Steveb-p, thank you. I Will check it anda give Feedback to you when possible :)

[2019-06-03 19:13] #754 closed

[2019-06-06 04:43] lsv opened #883 "[enqueue/messenger-adapter] Symfony 4.3 - Transport interface has changed"
Symfony 4.3 have changed the transport interface and therefor

[code]

[2019-06-06 04:50] #883 closed

[2019-06-06 04:52] lsv commented on #883
I can see that https://github.com/sroze/messenger-enqueue-transport has taken over the project, and also added a ^0.3 version which works fine with Symfony 4.3

So if you have `"enqueue/messenger-adapter": "^0.2.2"` in your composer.json, remove it and replace with `"sroze/messenger-enqueue-transport": "^0.3.0"`

[2019-06-06 10:24] Kon-Xen opened #884 "Documentation - quick tour"
Hi,
Noticed that in the quick tour of the documentation for the symfony bundle
The example instructions suggest for the config
[code]
that gives a yaml syntax error....
Could it be that instead the example should read ?
[code]
Best,

K.

[2019-06-06 11:04] Steveb-p commented on #884
@Kon-Xen No, the second example would be wrong for the current version. It was correct for 0.8.x. Since then clients and transports are tied under a single key.

[2019-06-06 12:03] Kon-Xen commented on #884
what would be the correct syntax then ?

[2019-06-06 12:10] Steveb-p commented on #884
Check for some common yaml errors in your configuration, like mixing tabs & spaces (yaml requires you to use one or the other for indentation, but not both).

If it were a misconfiguration issue, you would have a different exception, for example:
`Fatal error: Uncaught Symfony\Component\Config\Definition\Exception\InvalidConfigurationException: Unrecognized option "dsn" under "enqueue.transport"`

[2019-06-06 13:21] Kon-Xen commented on #884
Thank you for your prompt responses and
All understood. (and I have checked spaces & tabs and what not & Managed to figure things out after many hours)
There is a confusion however.
a. Yes it turns out I am using 8.42 ver.
b. see The config example here: https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/quick_tour.md
and compare to here: https://php-enqueue.github.io/bundle/config

[2019-06-06 13:21] #884 closed

[2019-06-06 13:34] Steveb-p commented on #884
@Kon-Xen both https://php-enqueue.github.io/bundle/quick_tour/ and https://php-enqueue.github.io/bundle/config_reference/ look fine to me (well, except that we're already working on expanding comments in config reference to better explain what options do what).

What do you mean?

[2019-06-06 15:03] Kon-Xen commented on #884
If you say they are fine,  they are fine.

Now, if you fancy a chat I can try to elaborate...
Assuming that I understood correctly,
https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/quick_tour.md
is confusing me because:
a) wording,  "First, you have to configure a transport layer and **set one** to be default"
     Do I have to set up more than one transports?
b) example shows "_

[2019-06-06 18:00] Steveb-p commented on #884
I'm usually available on enqueue's gitter channel if you'd like to discuss enqueue's usage without polluting the issues in the repository with just the discussion :)

Agreed, this sentence might need changing. What it was supposed to say is you need to configure at least one transport. If there is only one it will be considered default. If there are many, then the one under `default` key will beco

[2019-06-06 18:51] Steveb-p commented on #884
@Kon-Xen I've created a PR that hopefully addresses your case. See if it clarifies configuration and usage for you.

[2019-06-06 18:54] Steveb-p commented on #838
@sustmi Just wanted to let you know that despite the fact that this issue is closed I'm still keeping an eye on it and will - hopefully - incrementally adjust the docs with all the comments here.

[2019-06-06 18:59] makasim commented on #838
@Steveb-p You could reopen it if you think it would be better to keep it that way.

[2019-06-06 19:00] makasim commented on #838
The feedback on concepts is very welcome.

[2019-06-06 19:17] Steveb-p commented on #838
Since documentation issues pop up every now and then I'll open it and keep watch on it. If it becomes too cluttered I'll crawl it and move important bits to a separate issue, but for now it's manageable.

[2019-06-06 19:38] Steveb-p commented on #838
@makasim My own question is regarding Kafka topics and enqueue topics. It has been noted that those are two different things, but should enqueue go towards using multiple of Kafka's topics "inside" a single transport/client?

[2019-06-06 22:14] kor3k opened #887 "[amqp-bunny] [messenger-adapter] PRECONDITION_FAILED - unknown delivery tag 0"
i have this weird error with `symfony/messenger v4.3.1` and `sroze/messenger-enqueue-transport v0.3`. it was working with `symfony/messenger v4.2` and `sroze/messenger-enqueue-transport v0.2`. looks like the problem raises in acking a message.

[code]

composer info:
[code]

[2019-06-07 00:35] Steveb-p opened #890 "Update codebase to conform to PhpStan level 2"

[2019-06-07 00:44] Steveb-p commented on #843
@pedrofpvieira I've separated the consumption part to a separate PR, since it should be pretty much straightforward to use. The producing part is the one that might cause issues so we'll look into it and discuss further.

[2019-06-07 04:50] makasim commented on #887
Please ask for help. here https://github.com/sroze/messenger-enqueue-transport

[2019-06-07 04:53] makasim commented on #838
To answer the question I need more details on what "Kafka multipe topics" means. Could you send some links where I can read about it ?

[2019-06-07 05:25] makasim commented on #887
https://github.com/sroze/messenger-enqueue-transport/issues

[2019-06-07 05:25] #887 closed

[2019-06-07 17:19] koderoff commented on #749
Any new on this?

[2019-06-07 18:18] shyim commented on #851
[code]

The issue is still there also with path

[2019-06-07 18:28] makasim commented on #851
@shyim yes it is there. PR is very welcome.

[2019-06-08 15:08] KonstantinCodes opened #893 "Kafka: Application maximum poll interval exceeded"
My consumer
[code]

Is always producing these messages:
[code]

Do you have an idea, how to fix this?

[2019-06-08 15:10] KonstantinCodes opened #894 "Kafka: Offset commit (manual) failed"
My consumer always fails to commit the offset:

[code]

Here is my Config:

[code]

Any ideas, why this is happening?

Tested with both heroku Kafka & CloudKarafka.

[2019-06-09 18:58] Steveb-p commented on #893
@KonstantinCodes you're running a long running producer of some sort?

What phprdkafka / librdkafka combination you're running?

Overall, it is kind of related to #749 (not running `poll` specifically). They are warnings, so your application should work despite them (confirm?), but obviously we should do something about it.

[2019-06-09 19:06] Steveb-p commented on #894
What offset are you trying to commit?

I've looked up some issues in librdkafka and I've found:

Show sample code if possible. I've tried to see what the issue is, but it seems it's something between librdkafka & Kafka broker itself.

[2019-06-09 21:23] koderoff opened #895 "[Kafka] Reduce commit rate"
Since committing every message is slow (and may slow down the consume rate) I'd like to commit say once per second or every 1000 messages. Is it possible?

I tried to use onResult event and change the result to Result::ALREADY_ACKNOWLEDGED but I could not call commitAsync from onPostConsume and onEnd events since there is no way to get consumer from the accessible context

[2019-06-09 21:24] Steveb-p commented on #895
You can rely on Kafka broker commiting automatically. It will do so by default, so commiting (from client) can be disabled. That's why `commit.async` is recommended.

[2019-06-09 21:39] koderoff commented on #895
Autocommiting messages is not really suits me as it may result in lost messages (lets say in case of app crash)

[2019-06-09 21:45] Steveb-p commented on #895
On the other hand it's acceptable for you to process the message from Kafka more than once, I assume?

~~You've got a point there. The issue seems vaguely similar to `RdKafkaProducer` `poll` issue: we have a need to perform some action on `Consumer`s and `Producer`s, that is "outside" the usual process of acknowledging messages.~~

For the moment as a workaround for you, I'd suggest disabling `ena

[2019-06-09 21:59] koderoff commented on #895
yes

are you sure `enable.auto.commit` is the reason? In fact I have `enable.auto.commit` is already disabled but I still observe performance issues

[2019-06-09 22:01] Steveb-p commented on #895
Consumer also has to be set into async mode via `commit_async`.

If you're operating in Symfony bundle and using it's configuration, then just set it in config. Otherwise you'll have to call `RdKafkaConsumer::setCommitAsync(true)`.

[2019-06-09 22:04] koderoff commented on #895
I have `commit_async: true` in my config (and it is true by default since version 0.9.9)

[2019-06-09 22:04] koderoff commented on #895
btw, it seems that disabling commits from the client is impossible in the current version. Am I wrong?

[2019-06-09 22:12] Steveb-p commented on #895
Pretty much it was always like that. The only choice was between `commitAsync` and `commit` for Kafka Consumer.

Yeah, but only for configuration.

Then I don't really know why it becomes slow for you. In my application I regularly handle thousands of small messages per second, so it should be performant. Granted, I operate on an older version of librdkafka, but I'm going to assume it's irrelevant

[2019-06-09 23:00] koderoff commented on #895
My kafka has completely default settings. It is run in my local k8s cluster.

It is work very fast when I reduce commit rate by the following extension
<img width="458" alt="image" src="https://user-images.githubusercontent.com/8904399/59165183-99610f00-8b20-11e9-8875-a5179ed39afc.png">
But the only problem is there is no way to get consumer to call commitAsync from `onPostConsume` and `onEnd`.

W

[2019-06-10 06:34] KonstantinCodes commented on #893
@Steveb-p yeah it's kind of interesting.

I'm running a long running consumer, but the messages start popping up after 25 seconds.

So from what I read, you just have to run `KafkaConsumer::consume($timeout)`. Where the $timeout is smaller than your kafka config value `max.poll.interval.ms`.

I have tried configuring the enqueue transport this way, but for some reason it's not working. I debugged

[2019-06-10 07:21] Steveb-p commented on #893
Please do, but overall it should work the same. After all, it should be the same KafkaConsumer class. It should be something not really related to enqueue, but PhpRdKafka itself. Gotta do some digging :smile:

[2019-06-10 07:56] sustmi commented on #838
@Steveb-p Thank you. The _Key concepts_ section helps to better understand the Enqueue library. Nice work!

I hope that I will find some time to improve the Symfony bundle documentation too in order to cover my points 2. and 4.

[2019-06-10 07:58] Steveb-p commented on #895
Alright, that's the kind of throughput where additional network calls, even due to `commitAsync`, might be undesirable.

So we would probably want to:
1. Allow disabling message commit on ACK entirely.
2. Provide a way of direct access to consumer instance for Extensions. I believe a similar approach to the one present in `EventDispatcher` from Symfony to be desirable (which is passing `EventDispa

[2019-06-10 08:00] Steveb-p commented on #838
To give credit where credits due, I wasn't the author of the PR :) It was @sylfabre in #863

[2019-06-10 08:02] sylfabre commented on #838
@Steveb-p @sustmi thanks!

[2019-06-10 09:00] makasim commented on #895
MessageResult object already has a consumer https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/enqueue/Consumption/Context/MessageResult.php#L21

Is it what you need?

[2019-06-10 09:32] koderoff commented on #895
Sorry, my bad. I looked only at the available contexts in `onPostConsume` and `onEnd` events

[2019-06-11 18:32] #895 closed

[2019-06-12 06:58] linh4github opened #897 "Dbal didn't maintain "redeliver_after" when requeue"
// enqueue-dev/pkg/dbal/DbalProducer.php
$dbalMessage = [
            'id' => Uuid::uuid4(),
            'published_at' => $publishedAt,
            'body' => $body,
            'headers' => JSON::encode($message->getHeaders()),
            'properties' => JSON::encode($message->getProperties()),
            'priority' => -1 * $message->getPriority(),
            'queue' => $destination->getQueueN

[2019-06-12 10:20] leigh-ols commented on #858
I'm going to put this here because although it doesn't exactly match the ops issue. It does match the title, and is very much along the same lines.

If the queue consumer crashes, jobs get left in enqueue.job_queue.status.running.
This situation also leaves subsequent jobs unable to run, just as in the ops situation.

Is there a way to gracefully handle this barring manually deleting them?

[2019-06-12 10:26] makasim commented on #858
@leigh-ols what queue transport do you use?  What you've said should not be the case for RabbitMQ

[2019-06-13 08:08] leigh-ols commented on #858
In local development at the moment, and so only using FS queue transport. Could this be an issue pertaining specifically to enqueue/fs?

[2019-06-13 09:45] supernova13892 opened #898 "Laravel Exceptions don't reject the message?"
I am using the laravel-enqueue extension with the transport STOMP.

Laravel Version: **5.4**
Active MQ: **from Amazon MQ**
Protocol: **STOMP(with SSL)**

I am able to dispatch a job and confirm that a new message is there in the ActiveMQ UI.
I am also able to confirm that when I run **php artisan queue:work**, the message is dequeued from the broker.

But, in cases of exception, shouldn't we pass

[2019-06-13 09:59] makasim commented on #858
yes, it is the issue. FS transport  does not keep track of lost messages. If there is an exception or the process is killed the message is lost.

[2019-06-14 07:06] lothid opened #900 "[Laravel] not interop queues not working"
Laravel Queue Worker is getting `Illuminate\Contracts\Queue\Queue` object instead of string with queue name(s) when driver is not interop.

It makes using non-interop queues impossible:
`explode() expects parameter 2 to be string, object given {"exception":"[object] (ErrorException(code: 0): explode() expects parameter 2 to be string, object given at vendor/laravel/framework/src/Illuminate/Queue/W

[2019-06-14 07:07] lothid commented on #900
Oh, I see it has been merged already :)

[2019-06-14 07:07] #900 closed

[2019-06-14 07:32] leigh-ols commented on #858
That's fine, it's only for testing/dev purposes anyway. I was more concerned about if the issue might persist into production. We'll be using a different transport in production, so my concerns have been allayed.

[2019-06-14 13:40] Kevlys commented on #858
I have the same problem as @aun408 when I run many consumers. It works fine if I run only one.

there is a pull request in #786 that could fix the bug.

[2019-06-17 09:28] Kevlys commented on #858
another workaround is to use the ``--message-limit`` option to `1.`

`php bin/console enqueue:consume --message-limit=1``

works for me using supervisord.

[2019-06-17 10:17] sneakyvv opened #902 "Race conditions in transactions with SyncIndexWithObjectChangeListener"
The issue is that during a long or nested transaction, the `sendUpdateIndexMessage()` is called during a `postPersist` event, while the data may not yet be available in the database. The subsequent processing of the sent message (_Doctrine/Queue/SyncIndexWithObjectChangeProcessor.php line 87_) does not find the object and will send a delete command to Elastic instead of an insert.

This happens fo

[2019-06-17 11:06] sneakyvv commented on #902
PR => https://github.com/php-enqueue/enqueue-elastica-bundle/pull/19

[2019-06-18 09:59] KonstantinCodes commented on #894
@Steveb-p Hi, progress has been slow, sorry for late answer.

I published it here: https://github.com/KonstantinCodes/messenger-kafka
I tried to make it as basic as possible and it works for me. In the bottom of the readme, I put the exact config which I'm using. And it runs. I updated the Ticket with the enqueue config, which produced the error to commit.

Hopefully it helps!

[2019-06-20 05:45] maurotrentini opened #903 "Data is cached"
I'm using the enqueue symfony bundle - when consuming messages, data is cached until I restart the consumer. For example if I change a contact's recipient email in the database, the consumer still send the email to the previous recipient unless I restart the consumer. **I'm not sure if this is the expected behavior? What could be a possible work around?**

`$this->contact = $this->contactRepositor

[2019-06-20 10:26] Steveb-p commented on #903
@maurotrentini is this even related to `enqueue` itself? It seems that your `contactRepository::getBySlugOrId` is run only once or caches data internally. This is not something that can be fixed in enqueue, nor should be.

If you're using Doctrine and using it's built-in `EntityRepository::find` or `EntityManager::find` methods, then do keep in mind that entities are cached in Doctrine. Those func

[2019-06-20 10:26] #903 closed

[2019-06-20 10:31] Steveb-p commented on #832
Hi stale-bot, be quiet please ;)

[2019-06-20 10:33] Steveb-p commented on #858
@Kevlys please create PRs to this repository, instead of sub-repositories that are read-only. Thanks ;)

[2019-06-20 11:27] mrchrisadams opened #904 "Supporting lazy queues with the rabbit MQ driver"
Hi there.

I'm working with Enqueue, and using RabbitMQ as the underlying queue for messages, and I'm looking for some pointers on supporting [Lazy Queues](https://www.rabbitmq.com/lazy-queues.html) with Enqueue.

### What Lazy queues are and what they are useful.

The best practice recommendations for RabbitMQ that I see, recommend you keep queues short, but there are some cases where you might w

[2019-06-20 11:30] Steveb-p commented on #904
@mrchrisadams why not configuration option instead for RabbitMQ driver specifically?

[2019-06-20 11:32] mrchrisadams commented on #904
@Steveb-p mainly because I wasn't sure how to pass them in. I'd prefer doing that way, but it looks like the term `lazy` was already in use and I couldn't work out how to do it.

I'm totally happy to try that instead tho 👍

[2019-06-20 11:37] mrchrisadams commented on #904
@Steveb-p how would I query for for configuration options in the RabbitMQDriver?

Would I query the config a bit like so?

[code]

[2019-06-20 11:41] Steveb-p commented on #904
Judging from what I've skimmed through in code `lazy` is currently responsible for creating a connection instance without actually connecting (until needed).

I'd prefer adding an option to existing driver since that's what it is - an option :)
Unfortunately, `createQueue` only accepts string as argument and I'm not sure you'd want every queue created from enqueue using that `Context` to create a

[2019-06-20 12:38] mrchrisadams commented on #904
OK, thanks @Steveb-p.

I've made a starter here, assuming that an end user is on RabbitMQ 3.6 or higher.

I'm not sure how we'd address the issue of automatically making every queue lazy here, but I'm open to suggestions, for supporting different kinds of queues here, and if you have preferences about how you prefer tests for this to be written, please let me know - PHP isn't my main programming l

[2019-06-20 13:09] maurotrentini commented on #903
Thank you for your reply @Steveb-p
The reason why I thought the issue was related to enqueue is that when I try to execute that bit of code directly from the Controller (instead of queuing and consuming it), it produces the expected result - the updated email is picked up correctly. If I execute the code from the Consumer, the exact same code doesn't pick up the updated email until I stop and rest

[2019-06-20 14:47] Steveb-p commented on #903
I'm almost 100% sure you're loading `$this->contact` only once or your repository method caches the instance. These are 2 reasons I can think of that you're entity is not updated.

[2019-06-20 16:53] Kevlys commented on #858
@Steveb-p I did'nt create any PRs  anywhere. I just referenced it.

[2019-06-20 23:42] maurotrentini commented on #903
Thank you for pointing me in the right direction. I fixed the problem by adding the following line
`$this->entityManager->clear()`
just before
`$this->contact = $this->contactRepository->getBySlugOrId($contactID);`

I previously tried to clear the EntiryManager in the repository but strangely it did not work for me.
Because in my case the EntityManager is set when the Consumer is instantiated, cle

[2019-06-22 15:53] Steveb-p commented on #858
@Kevlys sorry, I didn't look and assumed it was yours. Apologies :bowing_man:

[2019-06-25 13:08] kricha opened #907 "Populate errno=11 Resource temporarily unavailable"
Hello,

when i'm trying to populate my index in es, i'm getting this error from populating command:
```bin/console fos:elastica:populate --pager-persister=queue --max-per-page=1000```
[code]

Dependencies:
[code]

Settings:
[code]

This error appears, when i'm trying to publish ~4k messages with payload like this:
[code]

rabbitmq - 3.7.15

TCPDUMP from rabbitmq:
[code]

[2019-06-26 11:47] #857 closed

[2019-06-26 12:09] kricha commented on #907
If we add on this line https://github.com/php-enqueue/enqueue-elastica-bundle/blob/master/Persister/QueuePagerPersister.php#L95

at least `usleep(10)` it works fine
@makasim

[2019-06-26 12:11] makasim commented on #907
Could you please test if it works if we do usleep every say 500 records?

[2019-06-26 12:16] kricha commented on #907
@makasim 500 records could be too much for rabbitmq frame_size. usleep(10) does not affect on performance. I also tried to test with usleep(0) and in 7/10 it works fine.

[2019-06-26 12:44] makasim commented on #907
Just wondering, could we catch the exception "Resource temporarily unavailable" and only at that time sleep?

[2019-06-26 12:49] kricha commented on #907
@makasim i think at that time connection will be closed and bulk of messages (sent before) will be unaccepted by rabbit

[2019-06-26 12:54] makasim commented on #907
ok, let's add usleep as you suggested with a comment and a link to this issue.

[2019-06-26 12:55] kricha commented on #907
@makasim i could create pr here: https://github.com/php-enqueue/enqueue-elastica-bundle ?

[2019-06-26 13:05] makasim commented on #907
yes, please

[2019-06-26 13:13] kricha commented on #907
@makasim done https://github.com/php-enqueue/enqueue-elastica-bundle/pull/20

[2019-06-26 13:33] #907 closed

[2019-06-26 13:33] makasim commented on #907
merged. thanks

[2019-06-27 07:16] dkarlovi opened #910 "[Symfony] autowire consumption extensions"
Adding `tag: enqueue.consumption.extension` is currently required since the `*ExtensionInterface` interfaces are not added for autowiring.

Should be easy enough to fix.

[2019-06-27 08:30] makasim commented on #910
Usually, developers do not need the whole ExtensionInterface just some methods, so a developer might implement only some of the extension interfaces.

So to make autowire work we need a kind of marker interface that all consumption extension interfaces implement.

[2019-06-27 08:32] dkarlovi commented on #910
@makasim IMO it's fine to autowire all the individual interfaces, no? That's why I've added the `*` prefix.

[2019-06-27 08:36] makasim commented on #910
How many times a tag would be added if a real extension implements two interfaces?

[2019-06-27 08:37] dkarlovi commented on #910
Not sure, I'd expect Symfony to deduplicate them if they're exactly the same, otherwise it's their bug.

[2019-06-27 08:38] Steveb-p commented on #910
We could try using `CompilerPass` to look over tagged services, mayyybe.

Symfony does not make any assumptions regarding tag duplication. If you do duplicate, it's your fault.

[2019-06-27 08:48] dkarlovi commented on #910
I mean, when auto-wiring interfaces. Since it's under their control, it wouldn't make sense to add multiple tags where they're not needed and then conclude that it's your fault.

[2019-06-27 08:55] Steveb-p commented on #910
You're probably right. I case of autowiring I would assume the same.

[2019-06-27 09:03] dkarlovi commented on #910
Well, nothing else to do but try and PR this repo, optionally filling a bug with Symfony if we're wrong in our assumptions. :)

[2019-06-27 15:58] KonstantinCodes commented on #812
I have the same problem.

[2019-06-27 19:08] makasim commented on #812
@KonstantinCodes PR is very welcome.

[2019-06-28 06:40] KonstantinCodes commented on #812
@makasim We may just not have configured the bundle correctly. As I understand, the processor just needs the tag `enqueue.topic_subscriber` and then should be automatically registered for the `default` client. But when I receive a message, enqueue always calls the DelegateProcessor instead of my Processor. Then it fails because the messages which I receive don't contain Processor metadata, so the

[2019-06-28 10:09] KonstantinCodes commented on #812
The only solution we came up with is to make an Extension, which sets the custom Processor on the actual Message, so that `\Enqueue\Client\DelegateProcessor` will call it.
It does work, but I'm not sure, this is the preferred way of implementing the Custom Processor.

Should I make a PR, documenting the Extension in the link I provided in the last comment?
Or is this the wrong approach in your opi

[2019-06-28 15:06] makasim commented on #812
Could you please run `enqueue:routes` and see if the processor is in the list?

I guess, this is the issue you are facing https://github.com/php-enqueue/enqueue-dev/issues/789#issuecomment-468170283

[2019-07-03 13:54] #871 closed

[2019-07-07 15:25] #879 closed

[2019-07-08 13:06] aumel commented on #902
I encountered the same problem. I agree with @sneakyvv 's explanation. In PostPersist/PostUpdate, the DB transaction is not necessarily completed.

Unless I'm mistaken, there is indeed the usable `PostFlush` event. The `PostFlush` event is dispatched after the `$conn->commit()` (see: `UnitOfWork.php`).

Doctrine doc:

In `SyncIndexWithObjectChangeListener.php`, we could do this:

[code]

IMO, the

[2019-07-08 13:51] sneakyvv commented on #902
Even the flush event cannot help during nested transactions. Every `flush()` is sending this event, but only the outer transaction _really_ commits it to the database.

[2019-07-08 16:47] aumel commented on #902
There are two problems (or contexts):

1. Non-nested transaction and the data may not yet be available in the database.
2. Nested transaction and the data may not yet be available in the database.

For the first problem, I think that enqueue-elastica should at least follow the implementation of FosElasticaBundle (see: `FOS\ElasticaBundle\Doctrine\Listener`) and `sendUpdateIndexMessage` on `PostFlu

[2019-07-11 02:12] saernz opened #912 "Laravel/GPS not working with Queued Event Listeners"
Hi, I'm using the `enqueue/laravel-queue` and the `enqueue/gps` packages in Laravel 5.8 and ran into an issue when trying to fire off an event which has a queued event listener, e.g. the listener implements the ShouldQueue interface in Laravel.

I'm getting this exception/stack trace:
[code]

It seems the Enqueue\LaravelQueue\Queue class is called by Laravel, it calls push(...) which then calls pu

[2019-07-11 09:01] Steveb-p commented on #843
Be silent, bot! I'll work on it. I promise! :)

[2019-07-11 09:01] Steveb-p commented on #838
Be silent, bot! I'll work on it. I promise! :)

[2019-07-11 09:02] Steveb-p commented on #749
Be silent, bot! I'll work on it. I promise! :)

[2019-07-11 09:24] makasim commented on #843
@Steveb-p fyi: `pinned` label could be added. bot would skip the issue.

[2019-07-11 12:16] aumel opened #913 "[Elastica] Error The message data misses id when remove in PostFlush"
The problem is related to my last accepted PR https://github.com/php-enqueue/enqueue-elastica-bundle/pull/21

The `sendUpdateIndexMessage` is now invoked in `PostFlush`. Unfortunately, the `$object = $args->getObject(); `has an ID null in `PostFlush` in a remove context.

IMO, a good solution would be to handle only ID in method `sendUpdateIndexMessage` and implement new method `extractId`.

I am

[2019-07-13 13:19] h0raz opened #915 "[SQS] config migration from 0.8 to 0.9"
I'm currently upgrading a Symfony project from enqueue 0.8 to 0.9 using the sqs module

the old config was
[code]
current (broken) config
[code]
in 0.9 the config changed and assumes a DSN, while the SqsConnectionFactory still allows a existing Aws/SqsClient

I get the error message `The DSN is invalid. It does not have scheme separator ":".` from `vendor/enqueue/enqueue/Doctrine/DoctrineConnectio

[2019-07-14 01:36] #890 closed

[2019-07-14 19:50] #851 closed

[2019-07-17 15:18] Steveb-p opened #917 "PheanstalkMessage setTimeToRun does'nt work"
Original author: @aslojno.

This code doesn't work
[code]

This code works well
[code]

[2019-07-17 15:50] makasim commented on #917
The first example uses an instance of PheanstalkMessage. What is a fully qualified class name?
Enqueue Client does not know what to do with PheanstalkMessage message.

[2019-07-17 15:52] aslojno commented on #917
![Снимок экрана от 2019-07-17 18-51-23](https://user-images.githubusercontent.com/41085561/61390711-f4c2b180-a8c3-11e9-9840-c693fab0a663.png)

[2019-07-17 15:59] aslojno commented on #917
![Снимок экрана от 2019-07-17 18-58-49](https://user-images.githubusercontent.com/41085561/61391227-f04ac880-a8c4-11e9-93f5-9c2955076bc3.png)

[2019-07-18 10:40] spolischook opened #918 "Null dsn while parsing configuration"
My config

[code]
in `.env` I have:
[code]
After configuration parsed I've got dsn as null and `NullConnectionFactory` was injected.
In case I'll explicitly choose
[code]
in transport node - I've got `LogicException: The given scheme protocol "null" is not supported. It must be "sqs"`

[2019-07-18 12:38] lostfocus opened #919 "Multiple Queues in Symfony"
There are a couple of open _and_ closed issues regarding the documentation when it comes to multiple queues with the Symfony bundle. I'm absolutely willing to write a nice .md-file to document how it works if someone could just point me in the right direction.

Let's say I have two topics I want to publish to: `hello` and `goodbye` - so far that's easy:

`Enqueue\Client\ProducerInterface $producer

[2019-07-18 13:26] spolischook commented on #918
This is happen with `default` key

[2019-07-18 17:22] Steveb-p commented on #919
@lostfocus https://github.com/php-enqueue/enqueue-dev/tree/master/docs/bundle should be a good place for it. It will be converted into https://github.com/php-enqueue/enqueue-dev/tree/master/docs/bundle once it's merged.

Also see https://php-enqueue.github.io#contributing-to-this-documentation if you want to see how it will look locally. You can use local Jekyll of course if you don't like docker

[2019-07-19 06:41] makasim commented on #919
You can configure a queue on processor registration. It could be an attribute of service tag, a parameter of queue subscriber, a parameter of command subscriber. All end up in https://github.com/php-enqueue/enqueue-dev/blob/master/pkg/enqueue/Client/Route.php.

Some examples could be found here: https://github.com/php-enqueue/enqueue-dev/blob/master/docs/bundle/message_processor.md

[2019-07-19 07:13] lostfocus commented on #919
Thanks. That will be my weekend project then.

[2019-07-19 07:37] #897 closed

[2019-07-20 11:02] #898 closed

[2019-07-23 19:43] inverse opened #921 "Cluster DSN support"
I noticed that the DSN utility can parse [cluster DSN configurations](https://github.com/php-enqueue/enqueue-dev/blob/master/docs/dsn.md).

 Is it possible to leverage this within the Symfony bundle?

[2019-07-24 12:53] inverse commented on #915
Not an SQS user but what is `aws.sqs` shouldn't that represent a parameter/env-var?

That should be in the format like `'sqs:?key=aKey&secret=aSecret&region=aRegion`

[2019-07-25 12:23] tebaly opened #922 "Configuring enqueue/enqueue-bundle (>=0.9) - %2f"
After execute this recipe
[code]

Maybe ...:10000/**%2f** a typo

[2019-07-26 15:26] manseuk opened #923 "Define Queue in Producer"
I am working on a project with micro services, I want to produce a message in one application and consume/process it in another. But i cannot do it with this bundle as I get `There is no route for command "<commandname>"` when attempting to send a command that has no processor defined.

Is it possible to define the route / queue details in the producer ?

[2019-07-26 18:28] h0raz commented on #915
`aws.sqs` is a reference
which was resolved in enqueue 0.8 to the aws.sqs client
and in 0.9 the config was unified and seems not possible anymore

the thing is that I don't want to configure this stuff multiple times
in aws I rely on the iam role of the container, so I actualy don't have a key, secret or region to put into
the aws sdk takes care of the credentials

I solved it now with a custom fa

[2019-07-26 18:28] #915 closed

[2019-07-26 20:24] #922 closed

[2019-07-27 13:48] #904 closed

[2019-07-27 17:35] truckee opened #924 "Attempted to load class "EnqueueBundle" from namespace "Enqueue\Bundle""
In Symfony 4.3, with

`composer show`:

[code]
.env:

[code]

and bundles.php:

[code]

`php bin/console cache:clear` returns:

Please advise.